In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("cleaned_NFL_combine_97_to_2018.csv")
df.head()

,year,name,college,position,height_in,weight_lbs,40yards,benchpress,vert_leap_in,broad_jump_in,shuttle,3cone,drafted
0,1997,mike adams,Texas,WR,71.4,184,4.59,NaN,29.5,112.0,4.38,7.51,N
1,1997,winston alderson,Arkansas,OT,76.1,344,5.60,NaN,24.5,92.0,5.25,8.85,N
2,1997,ink aleaga,Washington,ILB,73.0,227,4.87,NaN,31.0,107.0,4.33,7.60,N
3,1997,eric allen,Indiana,FS,72.0,205,4.78,NaN,34.0,116.0,4.22,7.27,N
4,1997,james allen,Oklahoma,RB,70.1,212,NaN,11.0,31.0,NaN,NaN,NaN,N

In [4]:
df.describe()

,year,height_in,weight_lbs,40yards,benchpress,vert_leap_in,broad_jump_in,shuttle,3cone
count,6300.000000,6300.000000,6300.000000,6083.000000,4708.000000,5505.000000,5390.000000,4769.000000,4640.000000
mean,2007.567302,73.890240,244.927937,4.806699,20.898046,32.682834,113.269388,4.386066,7.340519
std,6.367863,2.619497,45.465938,0.313590,6.328704,4.186874,9.287224,0.269184,0.446217
min,1997.000000,65.250000,155.000000,4.210000,2.000000,17.500000,73.000000,3.730000,6.340000
25%,2002.000000,72.000000,207.000000,4.560000,16.000000,30.000000,108.000000,4.190000,7.000000
50%,2008.000000,74.000000,236.000000,4.730000,21.000000,33.000000,114.000000,4.340000,7.260000
75%,2013.000000,75.900000,286.000000,5.010000,25.000000,35.500000,120.000000,4.550000,7.620000
max,2018.000000,81.630000,387.000000,6.120000,51.000000,46.000000,147.000000,5.680000,9.610000

In [5]:
#find all correlations

In [6]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

In [7]:
#here we have 28 pairs of features that we want to explore (keep in mind that they)

In [8]:
corr2 = df.corr()
corr2

,year,height_in,weight_lbs,40yards,benchpress,vert_leap_in,broad_jump_in,shuttle,3cone
year,1.000000,0.001294,-0.025223,-0.109306,-0.033502,-0.001342,0.169125,0.068368,-0.268573
height_in,0.001294,1.000000,0.722126,0.616437,0.373361,-0.428117,-0.428641,0.524520,0.473585
weight_lbs,-0.025223,0.722126,1.000000,0.858913,0.625783,-0.633351,-0.696255,0.761049,0.740057
40yards,-0.109306,0.616437,0.858913,1.000000,0.452183,-0.750089,-0.819220,0.780747,0.793931
benchpress,-0.033502,0.373361,0.625783,0.452183,1.000000,-0.309988,-0.368407,0.381913,0.372272
vert_leap_in,-0.001342,-0.428117,-0.633351,-0.750089,-0.309988,1.000000,0.804956,-0.680998,-0.640448
broad_jump_in,0.169125,-0.428641,-0.696255,-0.819220,-0.368407,0.804956,1.000000,-0.692208,-0.709440
shuttle,0.068368,0.524520,0.761049,0.780747,0.381913,-0.680998,-0.692208,1.000000,0.790662
3cone,-0.268573,0.473585,0.740057,0.793931,0.372272,-0.640448,-0.709440,0.790662,1.000000

In [9]:
# + vertical leap & broad jump .804956
# + weight_lbs & 40 yards .858913
# + 3cone & shuttle .790662
# - broad_jump_in & 40 yards -.819220

In [10]:
df[df["40yards"].isnull()].head()

,year,name,college,position,height_in,weight_lbs,40yards,benchpress,vert_leap_in,broad_jump_in,shuttle,3cone,drafted
4,1997,james allen,Oklahoma,RB,70.1,212,NaN,11.0,31.0,NaN,NaN,NaN,N
10,1997,darnell autry,Northwestern,RB,70.8,210,NaN,NaN,34.0,114.0,NaN,NaN,Y
20,1997,michael booker,Nebraska,CB,73.3,203,NaN,10.0,NaN,NaN,NaN,NaN,Y
32,1997,chris carter,Texas,FS,73.3,200,NaN,16.0,NaN,NaN,NaN,NaN,Y
43,1997,damion cooper,Central State (OH),DE,75.4,260,NaN,25.0,29.5,112.0,NaN,NaN,N

In [15]:
df.groupby(["position", "drafted"])["40yards"].describe()

                  count      mean       std   min     25%    50%     75%   max
position drafted
C        N         77.0  5.275714  0.193822  4.82  5.1700  5.250  5.4000  5.84
         Y         99.0  5.247475  0.148016  4.89  5.1500  5.250  5.3300  5.64
CB       N        174.0  4.564080  0.099664  4.33  4.4900  4.570  4.6300  4.95
         Y        427.0  4.487190  0.084501  4.25  4.4300  4.490  4.5400  4.78
DB       N          1.0  4.620000       NaN  4.62  4.6200  4.620  4.6200  4.62
         Y          3.0  4.466667  0.080829  4.38  4.4300  4.480  4.5100  4.54
DE       N        143.0  4.917483  0.136513  4.53  4.8200  4.920  5.0000  5.27
         Y        365.0  4.819397  0.132162  4.48  4.7300  4.820  4.9000  5.26
DL       N          1.0  4.880000       NaN  4.88  4.8800  4.880  4.8800  4.88
         Y          3.0  4.756667  0.040415  4.72  4.7350  4.750  4.7750  4.80
DT       N        153.0  5.153922  0.169827  4.77  5.0300  5.150  5.2700  5.77
         Y        317.0  5.102681  0.158518  4.68  5.0000  5.090  5.1900  5.71
FB       N         55.0  4.800545  0.150412  4.60  4.6950  4.760  4.8850  5.37
         Y         77.0  4.759870  0.126735  4.48  4.6700  4.750  4.8300  5.03
FS       N         93.0  4.638495  0.106004  4.36  4.5800  4.630  4.7200  4.95
         Y        171.0  4.554152  0.098182  4.31  4.5000  4.560  4.6100  4.84
ILB      N         92.0  4.849783  0.114066  4.65  4.7600  4.840  4.9200  5.19
         Y        181.0  4.733370  0.121638  4.42  4.6500  4.730  4.8200  5.14
K        N          6.0  5.046667  0.103859  4.93  4.9600  5.040  5.1350  5.17
         Y          4.0  4.837500  0.095350  4.74  4.7775  4.825  4.8850  4.96
LB       N          2.0  4.845000  0.091924  4.78  4.8125  4.845  4.8775  4.91
         Y          9.0  4.636667  0.071937  4.46  4.6300  4.650  4.6700  4.70
LS       N          4.0  5.065000  0.167033  4.91  4.9775  5.025  5.1125  5.30
         Y          2.0  5.050000  0.197990  4.91  4.9800  5.050  5.1200  5.19
NT       N          0.0       NaN       NaN   NaN     NaN    NaN     NaN   NaN
OG       N        166.0  5.397289  0.210461  4.95  5.2700  5.400  5.5200  6.12
         Y        244.0  5.274098  0.158370  4.90  5.1600  5.280  5.3900  5.66
OL       N          0.0       NaN       NaN   NaN     NaN    NaN     NaN   NaN
         Y          2.0  5.190000  0.042426  5.16  5.1750  5.190  5.2050  5.22
OLB      N        131.0  4.760534  0.118473  4.50  4.6800  4.760  4.8350  5.03
         Y        315.0  4.669429  0.114145  4.38  4.6000  4.650  4.7400  5.09
OT       N        135.0  5.355333  0.182776  4.81  5.2350  5.360  5.4600  5.94
         Y        331.0  5.256103  0.190318  4.71  5.1400  5.260  5.3700  6.03
P        N         11.0  4.954545  0.136775  4.70  4.9050  4.980  5.0600  5.12
         Y          4.0  4.877500  0.223961  4.64  4.7825  4.845  4.9400  5.18
QB       N        160.0  4.884062  0.175776  4.33  4.7700  4.870  5.0125  5.37
         Y        210.0  4.828429  0.173014  4.33  4.7100  4.835  4.9375  5.37
RB       N        239.0  4.615732  0.116208  4.29  4.5400  4.620  4.6900  4.98
         Y        316.0  4.536108  0.101839  4.27  4.4675  4.530  4.6000  4.84
SS       N         85.0  4.641412  0.124395  4.36  4.5600  4.630  4.6900  5.02
         Y        138.0  4.554710  0.080547  4.34  4.5000  4.560  4.6000  4.80
TE       N        130.0  4.861385  0.139205  4.46  4.7800  4.880  4.9700  5.16
         Y        218.0  4.764954  0.142955  4.38  4.6800  4.780  4.8575  5.26
WR       N        286.0  4.584406  0.098587  4.31  4.5100  4.580  4.6500  4.85
         Y        503.0  4.495586  0.097969  4.21  4.4300  4.500  4.5600  4.76