In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("cleaned_NFL_combine_97_to_2018.csv")
df

,year,name,college,position,height_in,weight_lbs,40yards,benchpress,vert_leap_in,broad_jump_in,shuttle,3cone,drafted
0,1997,mike adams,Texas,WR,71.4,184,4.59,NaN,29.5,112.0,4.38,7.51,N
1,1997,winston alderson,Arkansas,OT,76.1,344,5.60,NaN,24.5,92.0,5.25,8.85,N
2,1997,ink aleaga,Washington,ILB,73.0,227,4.87,NaN,31.0,107.0,4.33,7.60,N
3,1997,eric allen,Indiana,FS,72.0,205,4.78,NaN,34.0,116.0,4.22,7.27,N
4,1997,james allen,Oklahoma,RB,70.1,212,NaN,11.0,31.0,NaN,NaN,NaN,N
5,1997,john allred,Southern California,TE,76.4,244,5.01,15.0,32.0,112.0,4.32,7.45,Y
6,1997,richard alvarado,Jackson State (MS),OLB,74.6,239,4.92,18.0,33.5,115.0,4.28,7.48,N
7,1997,jim arellanes,Frenso State (CA),QB,75.1,211,5.19,NaN,27.0,102.0,4.67,8.03,N
8,1997,duane ashman,Virginia,DE,75.5,274,5.03,19.0,32.5,110.0,4.83,8.80,Y
9,1997,raymond austin,Tennessee,SS,70.6,190,4.80,12.0,32.5,111.0,4.05,7.14,Y
10,1997,darnell autry,Northwestern,RB,70.8,210,NaN,NaN,34.0,114.0,NaN,NaN,Y
11,1997,brad badger,Stanford,OG,76.4,296,5.22,21.0,32.5,111.0,4.13,NaN,Y
12,1997,antonio banks,Virginia Tech,CB,70.0,203,4.66,18.0,36.0,117.0,4.41,7.85,Y
13,1997,ronde barber,Virginia,CB,69.4,185,4.68,14.0,34.5,118.0,4.46,7.22,Y
14,1997,tiki barber,Virginia,RB,69.4,203,4.56,15.0,35.5,120.0,4.00,7.18,Y
15,1997,derrick barnes,Oregon,OLB,72.9,261,4.92,15.0,33.0,109.0,4.42,7.88,N
16,1997,james bates,Florida,ILB,73.0,230,4.92,NaN,32.5,115.0,4.29,7.67,N
17,1997,terry battle,Arizona State,RB,70.6,197,4.71,16.0,34.5,118.0,NaN,NaN,Y
18,1997,bert berry,Notre Dame,DE,74.6,243,4.64,27.0,37.5,123.0,4.49,7.79,N
19,1997,will blackwell,San Diego State,WR,72.0,185,4.62,NaN,34.0,120.0,4.28,7.31,Y
20,1997,michael booker,Nebraska,CB,73.3,203,NaN,10.0,NaN,NaN,NaN,NaN,Y
21,1997,ben bordelon,Louisiana State,OT,77.1,298,5.42,22.0,28.0,104.0,4.73,8.25,N
22,1997,peter boulware,Florida State,DE,76.1,254,4.76,NaN,34.0,118.0,4.20,7.64,Y
23,1997,calvin branch,Colorado State,RB,71.4,200,4.49,18.0,39.0,127.0,4.08,7.12,Y
24,1997,zack bronson,McNeese State (LA),FS,72.4,190,4.66,9.0,33.5,115.0,4.35,7.63,N
25,1997,macey brooks,James Madison (VA),WR,76.6,214,4.65,NaN,38.5,125.0,4.13,7.31,Y
26,1997,cornell brown,Virginia Tech,DE,73.1,244,5.00,19.0,32.0,115.0,4.33,7.81,Y
27,1997,rod brown,North Carolina State,FB,71.5,245,5.03,25.0,28.0,102.0,NaN,NaN,Y
28,1997,lamont burns,East Carolina (NC),OG,75.6,299,5.32,30.0,28.5,109.0,4.70,NaN,Y
29,1997,kenney bynum,South Carolina State,RB,70.8,190,4.53,11.0,35.5,124.0,4.13,7.47,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6270,2018,kentavius street,North Carolina State,DE,74.0,280,4.87,28.0,NaN,NaN,NaN,NaN,Y
6271,2018,josh sweat,Florida State,OLB,76.0,251,4.53,NaN,39.5,124.0,4.28,NaN,Y
6272,2018,wyatt teller,Virginia Tech,OG,76.0,314,5.24,30.0,29.0,114.0,4.84,7.45,Y
6273,2018,chad thomas,Miami (FL),DE,78.0,281,4.92,NaN,29.0,116.0,NaN,NaN,Y
6274,2018,ian thomas,Indiana,TE,76.0,259,4.74,NaN,36.0,123.0,4.20,7.15,Y
6275,2018,jordan thomas,Mississippi State,TE,77.0,265,4.74,16.0,27.0,111.0,4.75,7.50,Y
6276,2018,matthew thomas,Florida State,OLB,75.0,232,4.58,NaN,41.5,131.0,4.28,6.85,N
6277,2018,roc thomas,Jacksonville State (AL),RB,70.0,198,4.56,16.0,35.5,125.0,NaN,NaN,N
6278,2018,kemoko turay,Rutgers,OLB,77.0,253,4.65,NaN,NaN,NaN,NaN,NaN,Y
6279,2018,salesi uhatafe,Utah,OG,77.0,310,5.40,NaN,28.0,109.0,4.90,7.70,N
6280,2018,leighton vander esch,Boise State,OLB,76.0,256,4.65,20.0,39.5,124.0,4.15,6.88,Y
6281,2018,azeem victor,Washington,ILB,73.0,240,4.72,19.0,32.5,115.0,4.40,7.20,Y
6282,2018,akrum wadley,Iowa,RB,70.0,194,4.54,12.0,32.0,NaN,NaN,NaN,N
6283,2018,trey walker,Louisiana-Lafayette,SS,74.0,200,4.51,14.0,33.0,119.0,4.28,7.00,N
6284,2018,mark walton,Miami (FL),RB,70.0,202,4.60,18.0,31.5,118.0,NaN,NaN,Y
6285,2018,chris warren,Texas,RB,74.0,247,4.69,25.0,33.0,121.0,4.18,6.98,N
6286,2018,armani watts,Texas A&M,FS,71.0,205,NaN,13.0,35.0,120.0,4.37,7.25,Y
6287,2018,damon webb,Ohio State,SS,71.0,195,4.62,17.0,NaN,NaN,NaN,NaN,N
6288,2018,david wells,San Diego State,TE,78.0,256,4.75,20.0,33.0,116.0,4.59,7.50,N
6289,2018,sean welsh,Iowa,OG,75.0,306,5.43,20.0,25.0,103.0,4.81,7.90,N
6290,2018,kyzir white,West Virginia,SS,74.0,216,NaN,21.0,35.5,113.0,NaN,NaN,Y
6291,2018,mike white,Western Kentucky,QB,77.0,224,5.09,NaN,27.0,96.0,4.40,7.40,Y
6292,2018,jordan whitehead,Pittsburgh,FS,71.0,195,NaN,21.0,NaN,NaN,NaN,NaN,Y
6293,2018,jojo wicker,Arizona State,DE,75.0,296,5.16,25.0,30.0,105.0,NaN,NaN,N
6294,2018,jordan wilkins,Mississippi,RB,73.0,216,NaN,16.0,36.0,117.0,4.27,NaN,Y
6295,2018,anthony winbush,Ball State (IN),OLB,73.0,249,NaN,25.0,NaN,110.0,NaN,NaN,N
6296,2018,logan woodside,Toledo,QB,73.0,213,4.79,NaN,31.5,103.0,4.15,6.94,Y
6297,2018,chris worley,Ohio State,ILB,74.0,238,4.86,15.0,29.5,NaN,NaN,NaN,N
6298,2018,kenny young,UCLA,ILB,73.0,236,4.60,23.0,36.0,117.0,4.48,7.38,Y
6299,2018,trevon young,Louisville,DE,76.0,258,4.78,25.0,33.0,114.0,4.40,6.99,Y

In [24]:
df[(df["position"] == "SS") | (df["position"] == "FS")].to_csv("TrainTest/S-Train.csv", index=False)

In [ ]:
#These are the ten csvs that we will be generating
df[(df["position"] == "OT") | (df["position"] == "OG") | (df["position"] == "C") | (df["position"] == "OL")].to_csv("TrainTest/OL-Train.csv", index=False)
df[(df["position"] == "DT") | (df["position"] == "DE") | (df["position"] == "DL")].to_csv("TrainTest/DL-Train.csv", index=False)
df[(df["position"] == "RB") | (df["position"] == "HB") | (df["position"] == "FB")].to_csv("TrainTest/RFBacks-Train.csv", index=False)
df[(df["position"] == "OLB") | (df["position"] == "ILB") | (df["position"] == "LB") | (df["position"] == "DB")].to_csv("TrainTest/DBacks-Train.csv", index=False)
df[(df["position"] == "TE")].to_csv("TrainTest/TE-Train.csv", index=False)
df[(df["position"] == "CB")].to_csv("TrainTest/CB-Train.csv", index=False)
df[(df["position"] == "WR")].to_csv("TrainTest/WR-Train.csv", index=False)
df[(df["position"] == "SS") | (df["position"] == "FS")].to_csv("TrainTest/S-Train.csv", index=False)
df[(df["position"] == "QB")].to_csv("TrainTest/QB-Train.csv", index=False)
df[(df["position"] == "P")].to_csv("TrainTest/P-Train.csv", index=False)