In [40]:
from xgboost import XGBClassifier
from xgboost import plot_importance
from matplotlib import pyplot

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from numpy import sort
from sklearn.feature_selection import SelectFromModel

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold

In [50]:
df = pd.read_csv("QB-Train.csv")
df = df.drop(["year","name","college","position"],1)
df.head()

,height_in,weight_lbs,40yards,vert_leap_in,broad_jump_in,shuttle,3cone,cmp,att,pct,yds,td,int,rate,heisman,bling,awards,allamerican,drafted
0,74.38,216,5.08,30.5,110.0,4.60,7.39,471.0,822.0,57.3,5853.0,45.0,20.0,130.3,0,1,1,0,N
1,74.50,214,4.68,35.0,110.0,4.40,7.24,610.0,999.0,61.1,8317.0,66.0,31.0,146.6,0,0,0,0,Y
2,75.00,227,4.81,NaN,NaN,NaN,NaN,1066.0,1672.0,63.8,12013.0,73.0,51.0,132.4,0,0,0,0,Y
3,76.40,221,4.95,31.0,109.0,4.47,7.97,378.0,692.0,54.6,4419.0,27.0,14.0,117.1,0,0,0,0,Y
4,76.60,229,4.48,NaN,NaN,NaN,NaN,444.0,718.0,61.8,6040.0,44.0,28.0,144.9,0,1,1,1,Y

In [51]:
Y = df["drafted"]
Y = Y.replace("Y",1)
Y = Y.replace("N",0)

#X = df.drop(['weight_lbs', '3cone', 'Crec', 'Cyds', 'hasbling', 'hasawards', "drafted"], 1)
X = df.drop(["drafted","heisman"],1)
#X = X.drop([item for item in X.columns.tolist() if item not in ["40yards","height_in","3cone",'CTD']], 1)
#X["benchpress"] = X["benchpress"].fillna(value=0)
#X["vert_leap_in"] = X["vert_leap_in"].fillna(value=0)
#X["broad_jump_in"] = X["broad_jump_in"].fillna(value=0)
#X["Crec"] = X["Crec"].fillna(value=0)
#X["Cyds"] = X["Cyds"].fillna(value=0)
#X["CTD"] = X["CTD"].fillna(value=0)
#X["shuttle"] = X["shuttle"].fillna(value=100)
#X["3cone"] = X["3cone"].fillna(value=100)
#X["40yards"] = X["40yards"].fillna(value=100)
X.head()

,height_in,weight_lbs,40yards,vert_leap_in,broad_jump_in,shuttle,3cone,cmp,att,pct,yds,td,int,rate,bling,awards,allamerican
0,74.38,216,5.08,30.5,110.0,4.60,7.39,471.0,822.0,57.3,5853.0,45.0,20.0,130.3,1,1,0
1,74.50,214,4.68,35.0,110.0,4.40,7.24,610.0,999.0,61.1,8317.0,66.0,31.0,146.6,0,0,0
2,75.00,227,4.81,NaN,NaN,NaN,NaN,1066.0,1672.0,63.8,12013.0,73.0,51.0,132.4,0,0,0
3,76.40,221,4.95,31.0,109.0,4.47,7.97,378.0,692.0,54.6,4419.0,27.0,14.0,117.1,0,0,0
4,76.60,229,4.48,NaN,NaN,NaN,NaN,444.0,718.0,61.8,6040.0,44.0,28.0,144.9,1,1,1

In [52]:
# split data into train and test sets
seed = 777
test_size = 0.30
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

In [53]:
# fit model on training data
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [54]:
# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

In [55]:
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 69.03%

In [56]:
for i in range(0,len(X.columns)):
    print(X.columns[i], model.feature_importances_[i] * 100)

height_in 7.24535658955574
weight_lbs 9.466268122196198
40yards 6.588509678840637
vert_leap_in 5.005187541246414
broad_jump_in 3.353361040353775
shuttle 6.739579886198044
3cone 4.572489485144615
cmp 6.350984424352646
att 4.375159367918968
pct 5.066244676709175
yds 7.141612470149994
td 5.427161231637001
int 4.150311648845673
rate 7.238075882196426
bling 2.2635698318481445
awards 8.908408135175705
allamerican 6.107719987630844

In [8]:
#Without Imputing

In [48]:
X["vert_leap_in"] = X["vert_leap_in"].fillna(value=0)
X["broad_jump_in"] = X["broad_jump_in"].fillna(value=0)
X["shuttle"] = X["shuttle"].fillna(value=100)
X["3cone"] = X["3cone"].fillna(value=100)
X["40yards"] = X["40yards"].fillna(value=100)
X["int"] = X['int'].fillna(value=500)
X = X.fillna(value=0)

In [57]:
# split data into train and test sets
seed = 777
test_size = 0.30
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

# fit model on training data
model = XGBClassifier()
model.fit(X_train, y_train)

# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 69.03%

In [58]:
for i in range(0,len(X.columns)):
    print(X.columns[i], model.feature_importances_[i] * 100)

height_in 7.24535658955574
weight_lbs 9.466268122196198
40yards 6.588509678840637
vert_leap_in 5.005187541246414
broad_jump_in 3.353361040353775
shuttle 6.739579886198044
3cone 4.572489485144615
cmp 6.350984424352646
att 4.375159367918968
pct 5.066244676709175
yds 7.141612470149994
td 5.427161231637001
int 4.150311648845673
rate 7.238075882196426
bling 2.2635698318481445
awards 8.908408135175705
allamerican 6.107719987630844

In [38]:
X = X.fillna(value=0)

In [59]:
thresholds = sort(model.feature_importances_)
for thresh in thresholds:
    # select features using threshold
    selection = SelectFromModel(model, threshold=thresh, prefit=True)
    select_X_train = selection.transform(X_train)
    # train model
    selection_model = XGBClassifier()
    selection_model.fit(select_X_train, y_train)
    # eval model
    select_X_test = selection.transform(X_test)
    y_pred = selection_model.predict(select_X_test)
    predictions = [round(value) for value in y_pred]
    accuracy = accuracy_score(y_test, predictions)
    print("Thresh=%.3f, n=%d, Accuracy: %.2f%%" % (thresh, select_X_train.shape[1], accuracy*100.0))

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').