In [8]:
from xgboost import XGBClassifier
from xgboost import plot_importance
from matplotlib import pyplot

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from numpy import sort
from sklearn.feature_selection import SelectFromModel

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from itertools import combinations

In [9]:
#1 Wide Receiver
df = pd.read_csv("../WR/wrstats3.csv")
#df = df.drop(["year","name","college","position"],1)
df.head()
# 721

,year,name,college,position,height_in,weight_lbs,40yards,benchpress,vert_leap_in,broad_jump_in,shuttle,3cone,drafted,Crec,Cyds,CTD,hasbling,allamerican,hasawards
0,2017,jalen robinette,Air Force,WR,74.75,220,4.62,13.0,31.5,120.0,4.46,6.77,N,120.0,2697.0,18.0,0,0,0
1,2017,jerome lane,Akron,WR,74.13,226,4.60,16.0,35.0,125.0,4.12,6.87,N,101.0,1800.0,14.0,0,0,0
2,2002,jake schifino,Akron,WR,72.60,200,4.47,NaN,NaN,NaN,NaN,NaN,Y,131.0,1986.0,10.0,0,0,0
3,2018,robert foster,Alabama,WR,74.00,196,4.41,NaN,31.0,116.0,4.20,6.90,N,35.0,389.0,3.0,0,0,0
4,2002,jason mcaddley,Alabama,WR,73.50,203,4.50,NaN,36.5,120.0,4.09,6.83,Y,71.0,1020.0,8.0,0,0,0

In [10]:
Y = df["drafted"]
Y = Y.replace("Y",1)
Y = Y.replace("N",0)

#X = df.drop(['weight_lbs', '3cone', 'Crec', 'Cyds', 'hasbling', 'hasawards', "drafted"], 1)
X = df.drop(["drafted"],1)

In [11]:
#1st iteration
X["benchpress"] = X["benchpress"].fillna(value=0)
X["vert_leap_in"] = X["vert_leap_in"].fillna(value=0)
X["broad_jump_in"] = X["broad_jump_in"].fillna(value=0)
X["Crec"] = X["Crec"].fillna(value=0)
X["Cyds"] = X["Cyds"].fillna(value=0)
X["CTD"] = X["CTD"].fillna(value=0)
X["shuttle"] = X["shuttle"].fillna(value=100)
X["3cone"] = X["3cone"].fillna(value=100)
X["40yards"] = X["40yards"].fillna(value=100)
X = X.drop([item for item in X.columns.tolist() if item not in ['40yards', 'height_in', 'benchpress', 'vert_leap_in', 'broad_jump_in', 'CTD',"hasawards"]], 1)
X.head()

,height_in,40yards,benchpress,vert_leap_in,broad_jump_in,CTD,hasawards
0,74.75,4.62,13.0,31.5,120.0,18.0,0
1,74.13,4.60,16.0,35.0,125.0,14.0,0
2,72.60,4.47,0.0,0.0,0.0,10.0,0
3,74.00,4.41,0.0,31.0,116.0,3.0,0
4,73.50,4.50,0.0,36.5,120.0,8.0,0

In [12]:
# split data into train and test sets
seed = 777
test_size = 0.30
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

# fit model on training data
model = XGBClassifier(learning_rate=.1,n_estimators=400,max_depth=2,min_child_weight=1,gamma=.3,colsample_bytree=.7)
model.fit(X_train, y_train)

# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 75.62%

In [13]:
#Testing Data - Wide Receiver

In [27]:
#1 Wide Receiver
testdata = pd.read_csv("WR-Test.csv")
testdata

,name,college,position,height_in,40yards,benchpress,vert_leap_in,broad_jump_in,CTD,hasawards
0,"Boykin, Miles",Notre Dame,WR,76,4.42,12.0,43.5,140.0,11.0,0.0
1,"Brady, Tyre",Marshall,WR,75,NaN,12.0,32.0,117.0,18.0,0.0
2,"Brown, A.J.",Ole Miss,WR,72,4.49,19.0,36.5,120.0,NaN,0.0
3,"Butler, Emmanuel",Northern Arizona,WR,75,NaN,11.0,36.0,115.0,2.0,0.0
4,"Butler, Hakeem",Iowa St.,WR,77,4.48,18.0,36.0,128.0,18.0,0.0
5,"Campbell, Parris",Ohio St.,WR,72,4.31,11.0,40.0,135.0,15.0,0.0
6,"Custis, Jamal",Syracuse,WR,76,4.50,NaN,34.5,124.0,8.0,0.0
7,"Davis, Felton",Michigan St.,WR,75,NaN,21.0,NaN,NaN,14.0,0.0
8,"Davis, Ryan",Auburn,WR,70,NaN,12.0,35.0,124.0,7.0,0.0
9,"Dixon, Johnnie",Ohio St.,WR,70,4.41,16.0,37.5,120.0,16.0,0.0
10,"Doss, Keelan",UC Davis,WR,74,NaN,8.0,NaN,NaN,0.0,0.0
11,"Dulin, Ashton",Malone College,WR,73,4.43,13.0,38.0,121.0,NaN,0.0
12,"Durante, Jovon",FAU,WR,71,4.55,NaN,31.5,120.0,12.0,0.0
13,"Ferguson, Jazz",Northwestern State,WR,77,4.45,8.0,37.0,123.0,1.0,0.0
14,"Fulgham, Travis",Old Dominion,WR,74,4.58,15.0,36.5,126.0,18.0,0.0
15,"Godwin, Terry",Georgia,WR,71,4.55,NaN,36.5,117.0,11.0,0.0
16,"Hall, Emanuel",Missouri,WR,74,4.39,15.0,43.5,141.0,16.0,0.0
17,"Hardman, Mecole",Georgia,WR,70,4.33,17.0,36.5,119.0,11.0,0.0
18,"Harmon, Kelvin",NC State,WR,74,4.60,18.0,32.5,117.0,16.0,0.0
19,"Harry, N'Keal",Arizona St.,WR,74,4.53,27.0,38.5,122.0,22.0,0.0
20,"Humphrey, Lil'Jordan",Texas,WR,76,4.75,13.0,33.5,119.0,10.0,0.0
21,"Hurd, Jalen",Baylor,WR,77,NaN,23.0,NaN,NaN,10.0,0.0
22,"Isabella, Andy",Massachusetts,WR,69,4.31,15.0,36.5,121.0,30.0,1.0
23,"Jennings, Gary",West Virginia,WR,73,4.42,20.0,37.0,127.0,17.0,0.0
24,"Johnson, Diontae",Toledo,WR,70,4.53,15.0,33.5,123.0,23.0,0.0
25,"Johnson, KeeSean",Fresno St.,WR,73,4.60,14.0,30.0,117.0,24.0,0.0
26,"Johnson, Olabisi",Colorado St.,WR,72,4.51,14.0,38.0,124.0,11.0,0.0
27,"Johnson, Anthony",Buffalo,WR,74,NaN,18.0,32.5,122.0,25.0,0.0
28,"Lodge, DaMarkus",Ole Miss,WR,74,4.55,11.0,33.5,119.0,NaN,NaN
29,"McLaurin, Terry",Ohio St.,WR,72,4.35,18.0,37.5,125.0,NaN,NaN
30,"Metcalf, D.K.",Ole Miss,WR,75,4.33,27.0,40.5,134.0,NaN,NaN
31,"Meyers, Jakobi",NC State,WR,74,4.63,13.0,37.0,118.0,NaN,NaN
32,"Mitchell, Dillon",Oregon,WR,73,4.46,12.0,36.5,122.0,NaN,NaN
33,"Morgan, Stanley",Nebraska,WR,72,4.53,14.0,38.5,125.0,NaN,NaN
34,"Murray, Nyqwan",Florida St.,WR,70,4.63,8.0,34.0,113.0,NaN,NaN
35,"Renfrow, Hunter",Clemson,WR,70,4.59,7.0,35.0,116.0,NaN,NaN
36,"Ridley, Riley",Georgia,WR,73,4.58,13.0,30.5,124.0,NaN,NaN
37,"Samuel, Deebo",South Carolina,WR,71,4.48,15.0,39.0,122.0,NaN,NaN
38,"Sills, David",West Virginia,WR,75,4.57,14.0,37.5,117.0,NaN,NaN
39,"Slayton, Darius",Auburn,WR,73,4.39,11.0,40.5,135.0,NaN,NaN
40,"Smith, Jaylen",Louisville,WR,74,4.47,14.0,34.5,122.0,NaN,NaN
41,"Thompson, Cody",Toledo,WR,73,4.57,19.0,38.5,119.0,NaN,NaN
42,"Way, Jamarius",South Alabama,WR,75,4.63,16.0,32.5,119.0,NaN,NaN
43,"Wesley, Antoine",Texas Tech,WR,76,NaN,6.0,37.0,117.0,NaN,NaN
44,"Wesley, Alex",Northern Colorado,WR,72,4.45,13.0,38.5,125.0,NaN,NaN

In [28]:
from splinter import Browser
from sys import platform
import os
import csv
import re

executable_path = None

if platform == "linux" or platform == "linux2":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-linux")}
elif platform == "darwin":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-mac")}
elif platform == "win32":
    executable_path = {'executable_path': os.path.join("..","..","binaries", "chromedriver-windows.exe")}

browser = Browser('chrome', **executable_path, headless=False)

In [29]:
for index, row in testdata.iterrows():
    if (testdata.loc[index,"hasawards"] != 1.0):
        if (testdata.loc[index,"hasawards"] != 0.0):
            x = row["name"]
            browser.visit(f"https://www.sports-reference.com/cfb/search/search.fcgi?hint=&search={x}")
            if(len(browser.find_by_css("h1[itemprop='name']")) == 1):
                testdata.loc[index, "CTD"] = browser.find_by_css("table#receiving tfoot tr.bold")[0].find_by_css("td[data-stat='rec_td']").text
                    
                if (len(browser.find_by_css("div#leaderboard_awards")) > 0):
                    testdata.loc[index,"hasawards"] = 1
                else:
                    testdata.loc[index,"hasawards"] = 0
            elif (len(browser.find_by_css("div.search-item")) == 0):
                testdata.loc[index,"hasawards"] = 0
            else:
                listed = browser.find_by_css("div.search-item")

                for x in listed:
                    if (re.sub(r'\(.*\)', "", row["college"]).strip() in x.find_by_css("div.search-item-league").text):
                        x.find_by_css("div.search-item-name a").click()
                        if (len(browser.find_by_css("h1[itemprop='name']")) == 1):
                            testdata.loc[index, "CTD"] = browser.find_by_css("table#receiving tfoot tr.bold")[0].find_by_css("td[data-stat='rec_td']").text
                    
                            if (len(browser.find_by_css("div#leaderboard_awards")) > 0):
                                testdata.loc[index,"hasawards"] = 1
                            else:
                                testdata.loc[index,"hasawards"] = 0
                        else:
                            testdata.loc[index,"hasawards"] = 0
                            break
                    else:
                        testdata.loc[index,"hasawards"] = 0

In [30]:
testdata.to_csv("WR-Test.csv", index=False)

In [39]:
#Testing Data
testdata = pd.read_csv("WR-Test.csv")
Name = testdata["name"]
Position = testdata["position"]
#df = df.drop(["year","name","college","position"],1)
testdata = testdata.drop(["name","college","position"],1)
testdata.head()

,height_in,40yards,benchpress,vert_leap_in,broad_jump_in,CTD,hasawards
0,76,4.42,12.0,43.5,140.0,11.0,0.0
1,75,NaN,12.0,32.0,117.0,18.0,0.0
2,72,4.49,19.0,36.5,120.0,NaN,0.0
3,75,NaN,11.0,36.0,115.0,2.0,0.0
4,77,4.48,18.0,36.0,128.0,18.0,0.0

In [40]:
#testdata
testdata["benchpress"] = testdata["benchpress"].fillna(value=0)
testdata["vert_leap_in"] = testdata["vert_leap_in"].fillna(value=0)
testdata["broad_jump_in"] = testdata["broad_jump_in"].fillna(value=0)
testdata["CTD"] = testdata["CTD"].fillna(value=0)
testdata["40yards"] = testdata["40yards"].fillna(value=100)

In [41]:
testdata.dtypes

height_in          int64
40yards          float64
benchpress       float64
vert_leap_in     float64
broad_jump_in    float64
CTD              float64
hasawards        float64
dtype: object

In [42]:
# make predictions for test data
y_pred = model.predict(testdata)
predictions = [round(value) for value in y_pred]

In [61]:
Names = []
for name in Name:
    name = name.split(",")
    Names.append(f"{name[1]} {name[0]}")

In [62]:
predictors = pd.DataFrame({"Name":Names,"Position":Position,"finalmodel":predictions})
predictors

                    Name Position  finalmodel
0           Miles Boykin       WR           1
1             Tyre Brady       WR           0
2             A.J. Brown       WR           1
3        Emmanuel Butler       WR           0
4          Hakeem Butler       WR           1
5        Parris Campbell       WR           1
6           Jamal Custis       WR           1
7           Felton Davis       WR           1
8             Ryan Davis       WR           0
9          Johnnie Dixon       WR           1
10           Keelan Doss       WR           0
11          Ashton Dulin       WR           1
12         Jovon Durante       WR           0
13         Jazz Ferguson       WR           0
14        Travis Fulgham       WR           1
15          Terry Godwin       WR           1
16          Emanuel Hall       WR           1
17        Mecole Hardman       WR           1
18         Kelvin Harmon       WR           0
19          N'Keal Harry       WR           1
20   Lil'Jordan Humphrey       WR           0
21            Jalen Hurd       WR           0
22         Andy Isabella       WR           1
23         Gary Jennings       WR           1
24       Diontae Johnson       WR           1
25       KeeSean Johnson       WR           0
26       Olabisi Johnson       WR           0
27       Anthony Johnson       WR           1
28        DaMarkus Lodge       WR           0
29        Terry McLaurin       WR           1
30          D.K. Metcalf       WR           1
31         Jakobi Meyers       WR           0
32       Dillon Mitchell       WR           0
33        Stanley Morgan       WR           1
34         Nyqwan Murray       WR           0
35        Hunter Renfrow       WR           0
36          Riley Ridley       WR           0
37          Deebo Samuel       WR           1
38           David Sills       WR           1
39        Darius Slayton       WR           1
40          Jaylen Smith       WR           1
41         Cody Thompson       WR           1
42          Jamarius Way       WR           0
43        Antoine Wesley       WR           0
44           Alex Wesley       WR           1

In [63]:
testingdata = pd.read_csv("../../all predictions draftsite.csv")
testingdata

,Name,Position,Predictions (first),Predictions #2,draftsite,draftwire,nflspinzone,model2,finalmodel,ACTUAL
0,A.J. Brown,WR,1,1,1.0,1.0,1,NaN,NaN,NaN
1,Albert Huggins,DL,1,1,NaN,0.0,0,NaN,NaN,NaN
2,Alec Ingold,FB,0,0,1.0,0.0,0,NaN,NaN,NaN
3,Alex Barnes,RB,1,1,1.0,1.0,0,NaN,NaN,NaN
4,Alex Wesley,WR,1,1,NaN,0.0,1,NaN,NaN,NaN
5,Alexander Mattison,RB,1,0,NaN,1.0,1,NaN,NaN,NaN
6,Alijah Holder,CB,1,1,0.0,0.0,0,NaN,NaN,NaN
7,Alize Mack,TE,1,1,1.0,0.0,0,NaN,NaN,NaN
8,Amani Hooker,S,1,1,1.0,1.0,1,NaN,NaN,NaN
9,Amani Oruwariye,CB,1,1,1.0,1.0,1,NaN,NaN,NaN
10,Andre Dillard,OL,1,1,1.0,1.0,1,NaN,NaN,NaN
11,Andre James,OL,1,1,1.0,0.0,0,NaN,NaN,NaN
12,Andrew Van Ginkel,LB,0,1,1.0,0.0,0,NaN,NaN,NaN
13,Andrew Wingard,S,1,1,1.0,0.0,1,NaN,NaN,NaN
14,Andy Isabella,WR,1,1,1.0,1.0,1,NaN,NaN,NaN
15,Anthony Johnson,DL,1,1,1.0,1.0,0,NaN,NaN,NaN
16,Anthony Johnson,WR,1,1,1.0,1.0,1,NaN,NaN,NaN
17,Anthony Nelson,DL,1,1,1.0,1.0,1,NaN,NaN,NaN
18,Antoine Wesley,WR,0,1,1.0,1.0,1,NaN,NaN,NaN
19,Armon Watts,DL,1,1,NaN,0.0,0,NaN,NaN,NaN
20,Ashton Dulin,WR,1,1,1.0,1.0,0,NaN,NaN,NaN
21,Azeez Al-Shaair,LB,1,1,1.0,0.0,0,NaN,NaN,NaN
22,Beau Benzschawel,OL,1,1,1.0,1.0,1,NaN,NaN,NaN
23,Ben Banogu,EDGE,1,1,1.0,1.0,1,NaN,NaN,NaN
24,Ben Burr-Kirven,LB,1,1,1.0,1.0,0,NaN,NaN,NaN
25,Ben Powers,OL,1,1,1.0,1.0,1,NaN,NaN,NaN
26,Benny Snell,RB,0,0,1.0,1.0,1,NaN,NaN,NaN
27,Blace Brown,CB,1,0,1.0,0.0,1,NaN,NaN,NaN
28,Blake Cashman,LB,1,1,1.0,1.0,1,NaN,NaN,NaN
29,Blessuan Austin,CB,1,1,1.0,0.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
277,Tommy Sweeney,TE,1,1,1.0,0.0,1,NaN,NaN,NaN
278,Tony Pollard,RB,1,1,1.0,0.0,1,NaN,NaN,NaN
279,Trace McSorley,QB,1,1,1.0,0.0,0,NaN,NaN,NaN
280,Travis Fulgham,WR,1,1,NaN,0.0,1,NaN,NaN,NaN
281,Travis Homer,RB,1,1,1.0,0.0,0,NaN,NaN,NaN
282,Trayveon Williams,RB,1,1,1.0,1.0,1,NaN,NaN,NaN
283,Trayvon Mullen,CB,1,1,1.0,1.0,1,NaN,NaN,NaN
284,Trevon Tate,OL,1,0,1.0,0.0,0,NaN,NaN,NaN
285,Trevon Wesco,TE,1,1,NaN,1.0,0,NaN,NaN,NaN
286,Trey Pipkins,OL,1,1,1.0,0.0,0,NaN,NaN,NaN
287,Trysten Hill,DL,1,1,1.0,1.0,0,NaN,NaN,NaN
288,Ty Summers,LB,1,1,1.0,0.0,0,NaN,NaN,NaN
289,Tyler Jones,OL,1,1,1.0,0.0,0,NaN,NaN,NaN
290,Tyler Roemer,OL,1,1,1.0,0.0,0,NaN,NaN,NaN
291,Tyre Brady,WR,1,1,1.0,0.0,1,NaN,NaN,NaN
292,Tyree Jackson,QB,1,1,1.0,1.0,1,NaN,NaN,NaN
293,Tyrel Dodson,LB,1,1,NaN,0.0,0,NaN,NaN,NaN
294,Tytus Howard,OL,1,1,1.0,1.0,1,NaN,NaN,NaN
295,Ugo Amadi,S,0,1,0.0,1.0,1,NaN,NaN,NaN
296,Will Grier,QB,0,1,1.0,1.0,1,NaN,NaN,NaN
297,Will Harris,S,1,1,1.0,0.0,0,NaN,NaN,NaN
298,William Sweet,OL,1,1,1.0,0.0,0,NaN,NaN,NaN
299,Wyatt Ray,EDGE,1,1,1.0,1.0,1,NaN,NaN,NaN
300,Xavier Crawford,CB,1,1,0.0,0.0,0,NaN,NaN,NaN
301,Yodny Cajuste,OL,1,1,1.0,1.0,1,NaN,NaN,NaN
302,Yosh Nijman,OL,0,1,NaN,0.0,0,NaN,NaN,NaN
303,Zach Allen,DL,1,1,1.0,1.0,1,NaN,NaN,NaN
304,Zach Gentry,TE,1,0,1.0,1.0,0,NaN,NaN,NaN
305,Zack Bailey,OL,1,1,0.0,0.0,0,NaN,NaN,NaN
306,Zedrick Woods,S,1,1,1.0,1.0,0,NaN,NaN,NaN

In [73]:
testingdata = testingdata.merge(predictors, on=["Name","Position"], how="left")

In [74]:
#2 Quarterbacks
df = pd.read_csv("../DL/DL-Train.csv")
#df = df.drop(["year","name","college","position"],1)
df.head()
# 721

Y = df["drafted"]
Y = Y.replace("Y",1)
Y = Y.replace("N",0)

#X = df.drop(['weight_lbs', '3cone', 'Crec', 'Cyds', 'hasbling', 'hasawards', "drafted"], 1)
X = df.drop(["drafted"],1)

X = X.drop([item for item in X.columns.tolist() if item not in ['40yards', 'height_in', 'weight_lbs', 'broad_jump_in', 'shuttle',"allamerican"]], 1)

# split data into train and test sets
seed = 777
test_size = 0.30
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

# fit model on training data
model = XGBClassifier(learning_rate=.1,n_estimators=100,max_depth=2,min_child_weight=3,gamma=0.1,colsample_bytree=.7)
model.fit(X_train, y_train)

# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 76.57%

In [82]:
testdata = pd.read_csv("DL-Test.csv")
testdata

,name,college,position,height_in,weight_lbs,40yards,broad_jump_in,shuttle,allamerican
0,"Allen, Josh",Kentucky,DL,77,262.0,4.63,112.0,4.36,1.0
1,"Banogu, Ben",TCU,DL,75,250.0,4.62,134.0,4.27,0.0
2,"Bosa, Nick",Ohio St.,DL,76,266.0,4.79,116.0,4.14,0.0
3,"Brailford, Jordan",Oklahoma St.,DL,75,252.0,4.65,126.0,NaN,0.0
4,"Burns, Brian",Florida St.,DL,77,249.0,4.53,129.0,NaN,0.0
5,"Carney, Malik",North Carolina,DL,74,251.0,4.73,113.0,NaN,0.0
6,"Crosby, Maxx",E. Michigan,DL,77,255.0,4.66,122.0,4.13,0.0
7,"Davis, Jamal",Akron,DL,75,243.0,4.60,122.0,4.44,0.0
8,"Ferrell, Clelin",Clemson,DL,76,264.0,NaN,NaN,4.40,1.0
9,"Granderson, Carl",Wyoming,DL,77,254.0,4.79,119.0,4.41,0.0
10,"Green, Gerri",Miss. State,DL,76,252.0,4.63,114.0,4.42,0.0
11,"Gustin, Porter",USC,DL,76,255.0,4.69,119.0,NaN,0.0
12,"Hollins, Justin",Oregon,DL,77,248.0,4.50,119.0,4.40,0.0
13,"Jelks, Jalen",Oregon,DL,77,256.0,4.92,113.0,4.59,0.0
14,"Johnson, Darryl",NaN,DL,78,NaN,NaN,NaN,NaN,0.0
15,"Miller, Shareef",Penn St.,DL,76,254.0,4.69,NaN,4.45,NaN
16,"Miller, Christian",Alabama,DL,75,247.0,NaN,118.0,NaN,NaN
17,"Polite, Jachai",Florida,DL,75,258.0,4.84,NaN,NaN,NaN
18,"Ray, Wyatt",Boston College,DL,75,257.0,4.83,118.0,4.31,NaN
19,"Smith, Sutton",N. Illinois,DL,72,233.0,4.69,118.0,4.32,NaN
20,"Sweat, Montez",Miss. State,DL,78,260.0,4.41,125.0,4.29,NaN
21,"Winovich, Chase",Michigan,DL,75,256.0,4.59,116.0,4.11,NaN
22,"Ximines, Oshane",Old Dominion,DL,75,253.0,4.78,118.0,4.57,NaN
23,"Beckner, Terry",NaN,DL,76,NaN,5.19,98.0,4.82,NaN
24,"Allen, Zach",Boston College,DL,76,281.0,5.00,116.0,4.04,NaN
25,"Buggs, Isaiah",Alabama,DL,75,306.0,5.15,96.0,4.83,NaN
26,"Christmas, Demarcus",Florida St.,DL,75,294.0,5.08,101.0,5.07,NaN
27,"Collier, L.J.",TCU,DL,74,283.0,4.91,118.0,4.78,NaN
28,"Cominsky, John",University of Charleston,DL,77,286.0,4.69,116.0,4.38,NaN
29,"Cowart, Byron",Auburn,DL,75,298.0,5.16,111.0,NaN,NaN
30,"Gaines, Greg",Washington,DL,73,312.0,5.16,109.0,NaN,NaN
31,"Gary, Rashan",Michigan,DL,76,277.0,4.58,120.0,4.29,NaN
32,"Givens, Kevin",Penn St.,DL,73,285.0,5.08,115.0,4.62,NaN
33,"Hill, Trysten",UCF,DL,75,308.0,5.04,115.0,4.38,NaN
34,"Huggins, Albert",Clemson,DL,75,305.0,5.12,101.0,4.84,NaN
35,"Jackson, Joe",Miami (Fla.),DL,76,275.0,NaN,109.0,NaN,NaN
36,"Jefferson, CeCe",NaN,DL,73,NaN,5.02,108.0,4.53,NaN
37,"Johnson, Anthony",FIU,DL,75,291.0,NaN,122.0,NaN,NaN
38,"Jones, Dre'Mont",Ohio St.,DL,75,281.0,5.12,110.0,4.53,NaN
39,"Keke, Kingsley",Texas A&M,DL,75,288.0,4.95,111.0,4.46,NaN
40,"Lawrence, Dexter",Clemson,DL,76,342.0,5.05,NaN,NaN,NaN
41,"Ledbetter, Jonathan",Georgia,DL,76,280.0,5.14,108.0,NaN,NaN
42,"Mack, Daylon",Texas A&M,DL,73,336.0,5.10,102.0,4.95,NaN
43,"Nelson, Anthony",Iowa,DL,79,271.0,4.82,118.0,4.23,NaN
44,"Oliver, Ed",Houston,DL,74,287.0,NaN,120.0,NaN,NaN
45,"Omenihu, Charles",Texas,DL,77,280.0,4.92,115.0,4.36,NaN
46,"Russell, Dontavius",Auburn,DL,75,319.0,5.15,NaN,4.77,NaN
47,"Saunders, Khalen",Western Illinois,DL,72,324.0,5.01,101.0,4.62,NaN
48,"Slayton, Chris",Syracuse,DL,76,307.0,5.13,101.0,4.73,NaN
49,"Tillery, Jerry",Notre Dame,DL,78,295.0,4.93,115.0,4.33,NaN
50,"Watts, Armon",Arkansas,DL,77,300.0,5.23,NaN,NaN,NaN
51,"Wilkins, Christian",Clemson,DL,75,315.0,5.04,107.0,4.55,NaN
52,"Williams, Quinnen",Alabama,DL,75,303.0,4.83,112.0,NaN,NaN
53,"Wise, Daniel",Kansas,DL,75,281.0,5.28,112.0,4.37,NaN
54,"Wren, Renell",Arizona St.,DL,77,318.0,5.01,118.0,4.53,NaN

In [76]:
from splinter import Browser
from sys import platform
import os
import csv
import re

executable_path = None

if platform == "linux" or platform == "linux2":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-linux")}
elif platform == "darwin":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-mac")}
elif platform == "win32":
    executable_path = {'executable_path': os.path.join("..","..","binaries", "chromedriver-windows.exe")}

browser = Browser('chrome', **executable_path, headless=False)

In [83]:
for index, row in testdata.iterrows():
    if (testdata.loc[index,"allamerican"] != 1.0):
        if (testdata.loc[index,"allamerican"] != 0.0):
            x = row["name"]
            browser.visit(f"https://www.sports-reference.com/cfb/search/search.fcgi?hint=&search={x}")
            if(len(browser.find_by_css("h1[itemprop='name']")) == 1):
                if (len(browser.find_by_css("li.bling_all_star")) > 0):
                    testdata.loc[index,"allamerican"] = 1
                else:
                    testdata.loc[index,"allamerican"] = 0
            elif (len(browser.find_by_css("div.search-item")) == 0):
                testdata.loc[index,"allamerican"] = 0
            else:
                listed = browser.find_by_css("div.search-item")

                for x in listed:
                    if (re.sub(r'\(.*\)', "", row["college"]).strip() in x.find_by_css("div.search-item-league").text):
                        x.find_by_css("div.search-item-name a").click()
                        if (len(browser.find_by_css("h1[itemprop='name']")) == 1):

                            if (len(browser.find_by_css("li.bling_all_star")) > 0):
                                testdata.loc[index,"allamerican"] = 1
                            else:
                                testdata.loc[index,"allamerican"] = 0
                            break
                        else:
                            testdata.loc[index,"allamerican"] = 0
                            break
                    else:
                        testdata.loc[index,"allamerican"] = 0

In [84]:
testdata.to_csv("DL-Test.csv", index=False)