In [8]:
from xgboost import XGBClassifier
from xgboost import plot_importance
from matplotlib import pyplot

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from numpy import sort
from sklearn.feature_selection import SelectFromModel

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from itertools import combinations

In [9]:
#1 Wide Receiver
df = pd.read_csv("../WR/wrstats3.csv")
#df = df.drop(["year","name","college","position"],1)
df.head()
# 721

,year,name,college,position,height_in,weight_lbs,40yards,benchpress,vert_leap_in,broad_jump_in,shuttle,3cone,drafted,Crec,Cyds,CTD,hasbling,allamerican,hasawards
0,2017,jalen robinette,Air Force,WR,74.75,220,4.62,13.0,31.5,120.0,4.46,6.77,N,120.0,2697.0,18.0,0,0,0
1,2017,jerome lane,Akron,WR,74.13,226,4.60,16.0,35.0,125.0,4.12,6.87,N,101.0,1800.0,14.0,0,0,0
2,2002,jake schifino,Akron,WR,72.60,200,4.47,NaN,NaN,NaN,NaN,NaN,Y,131.0,1986.0,10.0,0,0,0
3,2018,robert foster,Alabama,WR,74.00,196,4.41,NaN,31.0,116.0,4.20,6.90,N,35.0,389.0,3.0,0,0,0
4,2002,jason mcaddley,Alabama,WR,73.50,203,4.50,NaN,36.5,120.0,4.09,6.83,Y,71.0,1020.0,8.0,0,0,0

In [10]:
Y = df["drafted"]
Y = Y.replace("Y",1)
Y = Y.replace("N",0)

#X = df.drop(['weight_lbs', '3cone', 'Crec', 'Cyds', 'hasbling', 'hasawards', "drafted"], 1)
X = df.drop(["drafted"],1)

In [11]:
#1st iteration
X["benchpress"] = X["benchpress"].fillna(value=0)
X["vert_leap_in"] = X["vert_leap_in"].fillna(value=0)
X["broad_jump_in"] = X["broad_jump_in"].fillna(value=0)
X["Crec"] = X["Crec"].fillna(value=0)
X["Cyds"] = X["Cyds"].fillna(value=0)
X["CTD"] = X["CTD"].fillna(value=0)
X["shuttle"] = X["shuttle"].fillna(value=100)
X["3cone"] = X["3cone"].fillna(value=100)
X["40yards"] = X["40yards"].fillna(value=100)
X = X.drop([item for item in X.columns.tolist() if item not in ['40yards', 'height_in', 'benchpress', 'vert_leap_in', 'broad_jump_in', 'CTD',"hasawards"]], 1)
X.head()

,height_in,40yards,benchpress,vert_leap_in,broad_jump_in,CTD,hasawards
0,74.75,4.62,13.0,31.5,120.0,18.0,0
1,74.13,4.60,16.0,35.0,125.0,14.0,0
2,72.60,4.47,0.0,0.0,0.0,10.0,0
3,74.00,4.41,0.0,31.0,116.0,3.0,0
4,73.50,4.50,0.0,36.5,120.0,8.0,0

In [12]:
# split data into train and test sets
seed = 777
test_size = 0.30
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

# fit model on training data
model = XGBClassifier(learning_rate=.1,n_estimators=400,max_depth=2,min_child_weight=1,gamma=.3,colsample_bytree=.7)
model.fit(X_train, y_train)

# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 75.62%

In [13]:
#Testing Data - Wide Receiver

In [27]:
#1 Wide Receiver
testdata = pd.read_csv("WR-Test.csv")
testdata

,name,college,position,height_in,40yards,benchpress,vert_leap_in,broad_jump_in,CTD,hasawards
0,"Boykin, Miles",Notre Dame,WR,76,4.42,12.0,43.5,140.0,11.0,0.0
1,"Brady, Tyre",Marshall,WR,75,NaN,12.0,32.0,117.0,18.0,0.0
2,"Brown, A.J.",Ole Miss,WR,72,4.49,19.0,36.5,120.0,NaN,0.0
3,"Butler, Emmanuel",Northern Arizona,WR,75,NaN,11.0,36.0,115.0,2.0,0.0
4,"Butler, Hakeem",Iowa St.,WR,77,4.48,18.0,36.0,128.0,18.0,0.0
5,"Campbell, Parris",Ohio St.,WR,72,4.31,11.0,40.0,135.0,15.0,0.0
6,"Custis, Jamal",Syracuse,WR,76,4.50,NaN,34.5,124.0,8.0,0.0
7,"Davis, Felton",Michigan St.,WR,75,NaN,21.0,NaN,NaN,14.0,0.0
8,"Davis, Ryan",Auburn,WR,70,NaN,12.0,35.0,124.0,7.0,0.0
9,"Dixon, Johnnie",Ohio St.,WR,70,4.41,16.0,37.5,120.0,16.0,0.0
10,"Doss, Keelan",UC Davis,WR,74,NaN,8.0,NaN,NaN,0.0,0.0
11,"Dulin, Ashton",Malone College,WR,73,4.43,13.0,38.0,121.0,NaN,0.0
12,"Durante, Jovon",FAU,WR,71,4.55,NaN,31.5,120.0,12.0,0.0
13,"Ferguson, Jazz",Northwestern State,WR,77,4.45,8.0,37.0,123.0,1.0,0.0
14,"Fulgham, Travis",Old Dominion,WR,74,4.58,15.0,36.5,126.0,18.0,0.0
15,"Godwin, Terry",Georgia,WR,71,4.55,NaN,36.5,117.0,11.0,0.0
16,"Hall, Emanuel",Missouri,WR,74,4.39,15.0,43.5,141.0,16.0,0.0
17,"Hardman, Mecole",Georgia,WR,70,4.33,17.0,36.5,119.0,11.0,0.0
18,"Harmon, Kelvin",NC State,WR,74,4.60,18.0,32.5,117.0,16.0,0.0
19,"Harry, N'Keal",Arizona St.,WR,74,4.53,27.0,38.5,122.0,22.0,0.0
20,"Humphrey, Lil'Jordan",Texas,WR,76,4.75,13.0,33.5,119.0,10.0,0.0
21,"Hurd, Jalen",Baylor,WR,77,NaN,23.0,NaN,NaN,10.0,0.0
22,"Isabella, Andy",Massachusetts,WR,69,4.31,15.0,36.5,121.0,30.0,1.0
23,"Jennings, Gary",West Virginia,WR,73,4.42,20.0,37.0,127.0,17.0,0.0
24,"Johnson, Diontae",Toledo,WR,70,4.53,15.0,33.5,123.0,23.0,0.0
25,"Johnson, KeeSean",Fresno St.,WR,73,4.60,14.0,30.0,117.0,24.0,0.0
26,"Johnson, Olabisi",Colorado St.,WR,72,4.51,14.0,38.0,124.0,11.0,0.0
27,"Johnson, Anthony",Buffalo,WR,74,NaN,18.0,32.5,122.0,25.0,0.0
28,"Lodge, DaMarkus",Ole Miss,WR,74,4.55,11.0,33.5,119.0,NaN,NaN
29,"McLaurin, Terry",Ohio St.,WR,72,4.35,18.0,37.5,125.0,NaN,NaN
30,"Metcalf, D.K.",Ole Miss,WR,75,4.33,27.0,40.5,134.0,NaN,NaN
31,"Meyers, Jakobi",NC State,WR,74,4.63,13.0,37.0,118.0,NaN,NaN
32,"Mitchell, Dillon",Oregon,WR,73,4.46,12.0,36.5,122.0,NaN,NaN
33,"Morgan, Stanley",Nebraska,WR,72,4.53,14.0,38.5,125.0,NaN,NaN
34,"Murray, Nyqwan",Florida St.,WR,70,4.63,8.0,34.0,113.0,NaN,NaN
35,"Renfrow, Hunter",Clemson,WR,70,4.59,7.0,35.0,116.0,NaN,NaN
36,"Ridley, Riley",Georgia,WR,73,4.58,13.0,30.5,124.0,NaN,NaN
37,"Samuel, Deebo",South Carolina,WR,71,4.48,15.0,39.0,122.0,NaN,NaN
38,"Sills, David",West Virginia,WR,75,4.57,14.0,37.5,117.0,NaN,NaN
39,"Slayton, Darius",Auburn,WR,73,4.39,11.0,40.5,135.0,NaN,NaN
40,"Smith, Jaylen",Louisville,WR,74,4.47,14.0,34.5,122.0,NaN,NaN
41,"Thompson, Cody",Toledo,WR,73,4.57,19.0,38.5,119.0,NaN,NaN
42,"Way, Jamarius",South Alabama,WR,75,4.63,16.0,32.5,119.0,NaN,NaN
43,"Wesley, Antoine",Texas Tech,WR,76,NaN,6.0,37.0,117.0,NaN,NaN
44,"Wesley, Alex",Northern Colorado,WR,72,4.45,13.0,38.5,125.0,NaN,NaN

In [28]:
from splinter import Browser
from sys import platform
import os
import csv
import re

executable_path = None

if platform == "linux" or platform == "linux2":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-linux")}
elif platform == "darwin":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-mac")}
elif platform == "win32":
    executable_path = {'executable_path': os.path.join("..","..","binaries", "chromedriver-windows.exe")}

browser = Browser('chrome', **executable_path, headless=False)

In [29]:
for index, row in testdata.iterrows():
    if (testdata.loc[index,"hasawards"] != 1.0):
        if (testdata.loc[index,"hasawards"] != 0.0):
            x = row["name"]
            browser.visit(f"https://www.sports-reference.com/cfb/search/search.fcgi?hint=&search={x}")
            if(len(browser.find_by_css("h1[itemprop='name']")) == 1):
                testdata.loc[index, "CTD"] = browser.find_by_css("table#receiving tfoot tr.bold")[0].find_by_css("td[data-stat='rec_td']").text
                    
                if (len(browser.find_by_css("div#leaderboard_awards")) > 0):
                    testdata.loc[index,"hasawards"] = 1
                else:
                    testdata.loc[index,"hasawards"] = 0
            elif (len(browser.find_by_css("div.search-item")) == 0):
                testdata.loc[index,"hasawards"] = 0
            else:
                listed = browser.find_by_css("div.search-item")

                for x in listed:
                    if (re.sub(r'\(.*\)', "", row["college"]).strip() in x.find_by_css("div.search-item-league").text):
                        x.find_by_css("div.search-item-name a").click()
                        if (len(browser.find_by_css("h1[itemprop='name']")) == 1):
                            testdata.loc[index, "CTD"] = browser.find_by_css("table#receiving tfoot tr.bold")[0].find_by_css("td[data-stat='rec_td']").text
                    
                            if (len(browser.find_by_css("div#leaderboard_awards")) > 0):
                                testdata.loc[index,"hasawards"] = 1
                            else:
                                testdata.loc[index,"hasawards"] = 0
                        else:
                            testdata.loc[index,"hasawards"] = 0
                            break
                    else:
                        testdata.loc[index,"hasawards"] = 0

In [30]:
testdata.to_csv("WR-Test.csv", index=False)

In [39]:
#Testing Data
testdata = pd.read_csv("WR-Test.csv")
Name = testdata["name"]
Position = testdata["position"]
#df = df.drop(["year","name","college","position"],1)
testdata = testdata.drop(["name","college","position"],1)
testdata.head()

,height_in,40yards,benchpress,vert_leap_in,broad_jump_in,CTD,hasawards
0,76,4.42,12.0,43.5,140.0,11.0,0.0
1,75,NaN,12.0,32.0,117.0,18.0,0.0
2,72,4.49,19.0,36.5,120.0,NaN,0.0
3,75,NaN,11.0,36.0,115.0,2.0,0.0
4,77,4.48,18.0,36.0,128.0,18.0,0.0

In [40]:
#testdata
testdata["benchpress"] = testdata["benchpress"].fillna(value=0)
testdata["vert_leap_in"] = testdata["vert_leap_in"].fillna(value=0)
testdata["broad_jump_in"] = testdata["broad_jump_in"].fillna(value=0)
testdata["CTD"] = testdata["CTD"].fillna(value=0)
testdata["40yards"] = testdata["40yards"].fillna(value=100)

In [41]:
testdata.dtypes

height_in          int64
40yards          float64
benchpress       float64
vert_leap_in     float64
broad_jump_in    float64
CTD              float64
hasawards        float64
dtype: object

In [42]:
# make predictions for test data
y_pred = model.predict(testdata)
predictions = [round(value) for value in y_pred]

In [61]:
Names = []
for name in Name:
    name = name.split(",")
    Names.append(f"{name[1]} {name[0]}")

In [62]:
predictors = pd.DataFrame({"Name":Names,"Position":Position,"finalmodel":predictions})
predictors

                    Name Position  finalmodel
0           Miles Boykin       WR           1
1             Tyre Brady       WR           0
2             A.J. Brown       WR           1
3        Emmanuel Butler       WR           0
4          Hakeem Butler       WR           1
5        Parris Campbell       WR           1
6           Jamal Custis       WR           1
7           Felton Davis       WR           1
8             Ryan Davis       WR           0
9          Johnnie Dixon       WR           1
10           Keelan Doss       WR           0
11          Ashton Dulin       WR           1
12         Jovon Durante       WR           0
13         Jazz Ferguson       WR           0
14        Travis Fulgham       WR           1
15          Terry Godwin       WR           1
16          Emanuel Hall       WR           1
17        Mecole Hardman       WR           1
18         Kelvin Harmon       WR           0
19          N'Keal Harry       WR           1
20   Lil'Jordan Humphrey       WR           0
21            Jalen Hurd       WR           0
22         Andy Isabella       WR           1
23         Gary Jennings       WR           1
24       Diontae Johnson       WR           1
25       KeeSean Johnson       WR           0
26       Olabisi Johnson       WR           0
27       Anthony Johnson       WR           1
28        DaMarkus Lodge       WR           0
29        Terry McLaurin       WR           1
30          D.K. Metcalf       WR           1
31         Jakobi Meyers       WR           0
32       Dillon Mitchell       WR           0
33        Stanley Morgan       WR           1
34         Nyqwan Murray       WR           0
35        Hunter Renfrow       WR           0
36          Riley Ridley       WR           0
37          Deebo Samuel       WR           1
38           David Sills       WR           1
39        Darius Slayton       WR           1
40          Jaylen Smith       WR           1
41         Cody Thompson       WR           1
42          Jamarius Way       WR           0
43        Antoine Wesley       WR           0
44           Alex Wesley       WR           1

In [63]:
testingdata = pd.read_csv("../../all predictions draftsite.csv")
testingdata

,Name,Position,Predictions (first),Predictions #2,draftsite,draftwire,nflspinzone,model2,finalmodel,ACTUAL
0,A.J. Brown,WR,1,1,1.0,1.0,1,NaN,NaN,NaN
1,Albert Huggins,DL,1,1,NaN,0.0,0,NaN,NaN,NaN
2,Alec Ingold,FB,0,0,1.0,0.0,0,NaN,NaN,NaN
3,Alex Barnes,RB,1,1,1.0,1.0,0,NaN,NaN,NaN
4,Alex Wesley,WR,1,1,NaN,0.0,1,NaN,NaN,NaN
5,Alexander Mattison,RB,1,0,NaN,1.0,1,NaN,NaN,NaN
6,Alijah Holder,CB,1,1,0.0,0.0,0,NaN,NaN,NaN
7,Alize Mack,TE,1,1,1.0,0.0,0,NaN,NaN,NaN
8,Amani Hooker,S,1,1,1.0,1.0,1,NaN,NaN,NaN
9,Amani Oruwariye,CB,1,1,1.0,1.0,1,NaN,NaN,NaN
10,Andre Dillard,OL,1,1,1.0,1.0,1,NaN,NaN,NaN
11,Andre James,OL,1,1,1.0,0.0,0,NaN,NaN,NaN
12,Andrew Van Ginkel,LB,0,1,1.0,0.0,0,NaN,NaN,NaN
13,Andrew Wingard,S,1,1,1.0,0.0,1,NaN,NaN,NaN
14,Andy Isabella,WR,1,1,1.0,1.0,1,NaN,NaN,NaN
15,Anthony Johnson,DL,1,1,1.0,1.0,0,NaN,NaN,NaN
16,Anthony Johnson,WR,1,1,1.0,1.0,1,NaN,NaN,NaN
17,Anthony Nelson,DL,1,1,1.0,1.0,1,NaN,NaN,NaN
18,Antoine Wesley,WR,0,1,1.0,1.0,1,NaN,NaN,NaN
19,Armon Watts,DL,1,1,NaN,0.0,0,NaN,NaN,NaN
20,Ashton Dulin,WR,1,1,1.0,1.0,0,NaN,NaN,NaN
21,Azeez Al-Shaair,LB,1,1,1.0,0.0,0,NaN,NaN,NaN
22,Beau Benzschawel,OL,1,1,1.0,1.0,1,NaN,NaN,NaN
23,Ben Banogu,EDGE,1,1,1.0,1.0,1,NaN,NaN,NaN
24,Ben Burr-Kirven,LB,1,1,1.0,1.0,0,NaN,NaN,NaN
25,Ben Powers,OL,1,1,1.0,1.0,1,NaN,NaN,NaN
26,Benny Snell,RB,0,0,1.0,1.0,1,NaN,NaN,NaN
27,Blace Brown,CB,1,0,1.0,0.0,1,NaN,NaN,NaN
28,Blake Cashman,LB,1,1,1.0,1.0,1,NaN,NaN,NaN
29,Blessuan Austin,CB,1,1,1.0,0.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
277,Tommy Sweeney,TE,1,1,1.0,0.0,1,NaN,NaN,NaN
278,Tony Pollard,RB,1,1,1.0,0.0,1,NaN,NaN,NaN
279,Trace McSorley,QB,1,1,1.0,0.0,0,NaN,NaN,NaN
280,Travis Fulgham,WR,1,1,NaN,0.0,1,NaN,NaN,NaN
281,Travis Homer,RB,1,1,1.0,0.0,0,NaN,NaN,NaN
282,Trayveon Williams,RB,1,1,1.0,1.0,1,NaN,NaN,NaN
283,Trayvon Mullen,CB,1,1,1.0,1.0,1,NaN,NaN,NaN
284,Trevon Tate,OL,1,0,1.0,0.0,0,NaN,NaN,NaN
285,Trevon Wesco,TE,1,1,NaN,1.0,0,NaN,NaN,NaN
286,Trey Pipkins,OL,1,1,1.0,0.0,0,NaN,NaN,NaN
287,Trysten Hill,DL,1,1,1.0,1.0,0,NaN,NaN,NaN
288,Ty Summers,LB,1,1,1.0,0.0,0,NaN,NaN,NaN
289,Tyler Jones,OL,1,1,1.0,0.0,0,NaN,NaN,NaN
290,Tyler Roemer,OL,1,1,1.0,0.0,0,NaN,NaN,NaN
291,Tyre Brady,WR,1,1,1.0,0.0,1,NaN,NaN,NaN
292,Tyree Jackson,QB,1,1,1.0,1.0,1,NaN,NaN,NaN
293,Tyrel Dodson,LB,1,1,NaN,0.0,0,NaN,NaN,NaN
294,Tytus Howard,OL,1,1,1.0,1.0,1,NaN,NaN,NaN
295,Ugo Amadi,S,0,1,0.0,1.0,1,NaN,NaN,NaN
296,Will Grier,QB,0,1,1.0,1.0,1,NaN,NaN,NaN
297,Will Harris,S,1,1,1.0,0.0,0,NaN,NaN,NaN
298,William Sweet,OL,1,1,1.0,0.0,0,NaN,NaN,NaN
299,Wyatt Ray,EDGE,1,1,1.0,1.0,1,NaN,NaN,NaN
300,Xavier Crawford,CB,1,1,0.0,0.0,0,NaN,NaN,NaN
301,Yodny Cajuste,OL,1,1,1.0,1.0,1,NaN,NaN,NaN
302,Yosh Nijman,OL,0,1,NaN,0.0,0,NaN,NaN,NaN
303,Zach Allen,DL,1,1,1.0,1.0,1,NaN,NaN,NaN
304,Zach Gentry,TE,1,0,1.0,1.0,0,NaN,NaN,NaN
305,Zack Bailey,OL,1,1,0.0,0.0,0,NaN,NaN,NaN
306,Zedrick Woods,S,1,1,1.0,1.0,0,NaN,NaN,NaN

In [73]:
testingdata = testingdata.merge(predictors, on=["Name","Position"], how="left")

In [74]:
#2 Quarterbacks
df = pd.read_csv("../DL/DL-Train.csv")
#df = df.drop(["year","name","college","position"],1)
df.head()
# 721

Y = df["drafted"]
Y = Y.replace("Y",1)
Y = Y.replace("N",0)

#X = df.drop(['weight_lbs', '3cone', 'Crec', 'Cyds', 'hasbling', 'hasawards', "drafted"], 1)
X = df.drop(["drafted"],1)

X = X.drop([item for item in X.columns.tolist() if item not in ['40yards', 'height_in', 'weight_lbs', 'broad_jump_in', 'shuttle',"allamerican"]], 1)

# split data into train and test sets
seed = 777
test_size = 0.30
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

# fit model on training data
model = XGBClassifier(learning_rate=.1,n_estimators=100,max_depth=2,min_child_weight=3,gamma=0.1,colsample_bytree=.7)
model.fit(X_train, y_train)

# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 76.57%

In [82]:
testdata = pd.read_csv("DL-Test.csv")
testdata

,name,college,position,height_in,weight_lbs,40yards,broad_jump_in,shuttle,allamerican
0,"Allen, Josh",Kentucky,DL,77,262.0,4.63,112.0,4.36,1.0
1,"Banogu, Ben",TCU,DL,75,250.0,4.62,134.0,4.27,0.0
2,"Bosa, Nick",Ohio St.,DL,76,266.0,4.79,116.0,4.14,0.0
3,"Brailford, Jordan",Oklahoma St.,DL,75,252.0,4.65,126.0,NaN,0.0
4,"Burns, Brian",Florida St.,DL,77,249.0,4.53,129.0,NaN,0.0
5,"Carney, Malik",North Carolina,DL,74,251.0,4.73,113.0,NaN,0.0
6,"Crosby, Maxx",E. Michigan,DL,77,255.0,4.66,122.0,4.13,0.0
7,"Davis, Jamal",Akron,DL,75,243.0,4.60,122.0,4.44,0.0
8,"Ferrell, Clelin",Clemson,DL,76,264.0,NaN,NaN,4.40,1.0
9,"Granderson, Carl",Wyoming,DL,77,254.0,4.79,119.0,4.41,0.0
10,"Green, Gerri",Miss. State,DL,76,252.0,4.63,114.0,4.42,0.0
11,"Gustin, Porter",USC,DL,76,255.0,4.69,119.0,NaN,0.0
12,"Hollins, Justin",Oregon,DL,77,248.0,4.50,119.0,4.40,0.0
13,"Jelks, Jalen",Oregon,DL,77,256.0,4.92,113.0,4.59,0.0
14,"Johnson, Darryl",NaN,DL,78,NaN,NaN,NaN,NaN,0.0
15,"Miller, Shareef",Penn St.,DL,76,254.0,4.69,NaN,4.45,NaN
16,"Miller, Christian",Alabama,DL,75,247.0,NaN,118.0,NaN,NaN
17,"Polite, Jachai",Florida,DL,75,258.0,4.84,NaN,NaN,NaN
18,"Ray, Wyatt",Boston College,DL,75,257.0,4.83,118.0,4.31,NaN
19,"Smith, Sutton",N. Illinois,DL,72,233.0,4.69,118.0,4.32,NaN
20,"Sweat, Montez",Miss. State,DL,78,260.0,4.41,125.0,4.29,NaN
21,"Winovich, Chase",Michigan,DL,75,256.0,4.59,116.0,4.11,NaN
22,"Ximines, Oshane",Old Dominion,DL,75,253.0,4.78,118.0,4.57,NaN
23,"Beckner, Terry",NaN,DL,76,NaN,5.19,98.0,4.82,NaN
24,"Allen, Zach",Boston College,DL,76,281.0,5.00,116.0,4.04,NaN
25,"Buggs, Isaiah",Alabama,DL,75,306.0,5.15,96.0,4.83,NaN
26,"Christmas, Demarcus",Florida St.,DL,75,294.0,5.08,101.0,5.07,NaN
27,"Collier, L.J.",TCU,DL,74,283.0,4.91,118.0,4.78,NaN
28,"Cominsky, John",University of Charleston,DL,77,286.0,4.69,116.0,4.38,NaN
29,"Cowart, Byron",Auburn,DL,75,298.0,5.16,111.0,NaN,NaN
30,"Gaines, Greg",Washington,DL,73,312.0,5.16,109.0,NaN,NaN
31,"Gary, Rashan",Michigan,DL,76,277.0,4.58,120.0,4.29,NaN
32,"Givens, Kevin",Penn St.,DL,73,285.0,5.08,115.0,4.62,NaN
33,"Hill, Trysten",UCF,DL,75,308.0,5.04,115.0,4.38,NaN
34,"Huggins, Albert",Clemson,DL,75,305.0,5.12,101.0,4.84,NaN
35,"Jackson, Joe",Miami (Fla.),DL,76,275.0,NaN,109.0,NaN,NaN
36,"Jefferson, CeCe",NaN,DL,73,NaN,5.02,108.0,4.53,NaN
37,"Johnson, Anthony",FIU,DL,75,291.0,NaN,122.0,NaN,NaN
38,"Jones, Dre'Mont",Ohio St.,DL,75,281.0,5.12,110.0,4.53,NaN
39,"Keke, Kingsley",Texas A&M,DL,75,288.0,4.95,111.0,4.46,NaN
40,"Lawrence, Dexter",Clemson,DL,76,342.0,5.05,NaN,NaN,NaN
41,"Ledbetter, Jonathan",Georgia,DL,76,280.0,5.14,108.0,NaN,NaN
42,"Mack, Daylon",Texas A&M,DL,73,336.0,5.10,102.0,4.95,NaN
43,"Nelson, Anthony",Iowa,DL,79,271.0,4.82,118.0,4.23,NaN
44,"Oliver, Ed",Houston,DL,74,287.0,NaN,120.0,NaN,NaN
45,"Omenihu, Charles",Texas,DL,77,280.0,4.92,115.0,4.36,NaN
46,"Russell, Dontavius",Auburn,DL,75,319.0,5.15,NaN,4.77,NaN
47,"Saunders, Khalen",Western Illinois,DL,72,324.0,5.01,101.0,4.62,NaN
48,"Slayton, Chris",Syracuse,DL,76,307.0,5.13,101.0,4.73,NaN
49,"Tillery, Jerry",Notre Dame,DL,78,295.0,4.93,115.0,4.33,NaN
50,"Watts, Armon",Arkansas,DL,77,300.0,5.23,NaN,NaN,NaN
51,"Wilkins, Christian",Clemson,DL,75,315.0,5.04,107.0,4.55,NaN
52,"Williams, Quinnen",Alabama,DL,75,303.0,4.83,112.0,NaN,NaN
53,"Wise, Daniel",Kansas,DL,75,281.0,5.28,112.0,4.37,NaN
54,"Wren, Renell",Arizona St.,DL,77,318.0,5.01,118.0,4.53,NaN

In [76]:
from splinter import Browser
from sys import platform
import os
import csv
import re

executable_path = None

if platform == "linux" or platform == "linux2":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-linux")}
elif platform == "darwin":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-mac")}
elif platform == "win32":
    executable_path = {'executable_path': os.path.join("..","..","binaries", "chromedriver-windows.exe")}

browser = Browser('chrome', **executable_path, headless=False)

In [83]:
for index, row in testdata.iterrows():
    if (testdata.loc[index,"allamerican"] != 1.0):
        if (testdata.loc[index,"allamerican"] != 0.0):
            x = row["name"]
            browser.visit(f"https://www.sports-reference.com/cfb/search/search.fcgi?hint=&search={x}")
            if(len(browser.find_by_css("h1[itemprop='name']")) == 1):
                if (len(browser.find_by_css("li.bling_all_star")) > 0):
                    testdata.loc[index,"allamerican"] = 1
                else:
                    testdata.loc[index,"allamerican"] = 0
            elif (len(browser.find_by_css("div.search-item")) == 0):
                testdata.loc[index,"allamerican"] = 0
            else:
                listed = browser.find_by_css("div.search-item")

                for x in listed:
                    if (re.sub(r'\(.*\)', "", row["college"]).strip() in x.find_by_css("div.search-item-league").text):
                        x.find_by_css("div.search-item-name a").click()
                        if (len(browser.find_by_css("h1[itemprop='name']")) == 1):

                            if (len(browser.find_by_css("li.bling_all_star")) > 0):
                                testdata.loc[index,"allamerican"] = 1
                            else:
                                testdata.loc[index,"allamerican"] = 0
                            break
                        else:
                            testdata.loc[index,"allamerican"] = 0
                            break
                    else:
                        testdata.loc[index,"allamerican"] = 0

In [84]:
testdata.to_csv("DL-Test.csv", index=False)

In [85]:
testdata

,name,college,position,height_in,weight_lbs,40yards,broad_jump_in,shuttle,allamerican
0,"Allen, Josh",Kentucky,DL,77,262.0,4.63,112.0,4.36,1.0
1,"Banogu, Ben",TCU,DL,75,250.0,4.62,134.0,4.27,0.0
2,"Bosa, Nick",Ohio St.,DL,76,266.0,4.79,116.0,4.14,0.0
3,"Brailford, Jordan",Oklahoma St.,DL,75,252.0,4.65,126.0,NaN,0.0
4,"Burns, Brian",Florida St.,DL,77,249.0,4.53,129.0,NaN,0.0
5,"Carney, Malik",North Carolina,DL,74,251.0,4.73,113.0,NaN,0.0
6,"Crosby, Maxx",E. Michigan,DL,77,255.0,4.66,122.0,4.13,0.0
7,"Davis, Jamal",Akron,DL,75,243.0,4.60,122.0,4.44,0.0
8,"Ferrell, Clelin",Clemson,DL,76,264.0,NaN,NaN,4.40,1.0
9,"Granderson, Carl",Wyoming,DL,77,254.0,4.79,119.0,4.41,0.0
10,"Green, Gerri",Miss. State,DL,76,252.0,4.63,114.0,4.42,0.0
11,"Gustin, Porter",USC,DL,76,255.0,4.69,119.0,NaN,0.0
12,"Hollins, Justin",Oregon,DL,77,248.0,4.50,119.0,4.40,0.0
13,"Jelks, Jalen",Oregon,DL,77,256.0,4.92,113.0,4.59,0.0
14,"Johnson, Darryl",NaN,DL,78,NaN,NaN,NaN,NaN,0.0
15,"Miller, Shareef",Penn St.,DL,76,254.0,4.69,NaN,4.45,0.0
16,"Miller, Christian",Alabama,DL,75,247.0,NaN,118.0,NaN,0.0
17,"Polite, Jachai",Florida,DL,75,258.0,4.84,NaN,NaN,0.0
18,"Ray, Wyatt",Boston College,DL,75,257.0,4.83,118.0,4.31,0.0
19,"Smith, Sutton",N. Illinois,DL,72,233.0,4.69,118.0,4.32,1.0
20,"Sweat, Montez",Miss. State,DL,78,260.0,4.41,125.0,4.29,0.0
21,"Winovich, Chase",Michigan,DL,75,256.0,4.59,116.0,4.11,0.0
22,"Ximines, Oshane",Old Dominion,DL,75,253.0,4.78,118.0,4.57,0.0
23,"Beckner, Terry",NaN,DL,76,NaN,5.19,98.0,4.82,0.0
24,"Allen, Zach",Boston College,DL,76,281.0,5.00,116.0,4.04,0.0
25,"Buggs, Isaiah",Alabama,DL,75,306.0,5.15,96.0,4.83,0.0
26,"Christmas, Demarcus",Florida St.,DL,75,294.0,5.08,101.0,5.07,0.0
27,"Collier, L.J.",TCU,DL,74,283.0,4.91,118.0,4.78,0.0
28,"Cominsky, John",University of Charleston,DL,77,286.0,4.69,116.0,4.38,0.0
29,"Cowart, Byron",Auburn,DL,75,298.0,5.16,111.0,NaN,0.0
30,"Gaines, Greg",Washington,DL,73,312.0,5.16,109.0,NaN,0.0
31,"Gary, Rashan",Michigan,DL,76,277.0,4.58,120.0,4.29,0.0
32,"Givens, Kevin",Penn St.,DL,73,285.0,5.08,115.0,4.62,0.0
33,"Hill, Trysten",UCF,DL,75,308.0,5.04,115.0,4.38,0.0
34,"Huggins, Albert",Clemson,DL,75,305.0,5.12,101.0,4.84,0.0
35,"Jackson, Joe",Miami (Fla.),DL,76,275.0,NaN,109.0,NaN,0.0
36,"Jefferson, CeCe",NaN,DL,73,NaN,5.02,108.0,4.53,0.0
37,"Johnson, Anthony",FIU,DL,75,291.0,NaN,122.0,NaN,0.0
38,"Jones, Dre'Mont",Ohio St.,DL,75,281.0,5.12,110.0,4.53,0.0
39,"Keke, Kingsley",Texas A&M,DL,75,288.0,4.95,111.0,4.46,0.0
40,"Lawrence, Dexter",Clemson,DL,76,342.0,5.05,NaN,NaN,0.0
41,"Ledbetter, Jonathan",Georgia,DL,76,280.0,5.14,108.0,NaN,0.0
42,"Mack, Daylon",Texas A&M,DL,73,336.0,5.10,102.0,4.95,0.0
43,"Nelson, Anthony",Iowa,DL,79,271.0,4.82,118.0,4.23,0.0
44,"Oliver, Ed",Houston,DL,74,287.0,NaN,120.0,NaN,1.0
45,"Omenihu, Charles",Texas,DL,77,280.0,4.92,115.0,4.36,0.0
46,"Russell, Dontavius",Auburn,DL,75,319.0,5.15,NaN,4.77,0.0
47,"Saunders, Khalen",Western Illinois,DL,72,324.0,5.01,101.0,4.62,0.0
48,"Slayton, Chris",Syracuse,DL,76,307.0,5.13,101.0,4.73,0.0
49,"Tillery, Jerry",Notre Dame,DL,78,295.0,4.93,115.0,4.33,0.0
50,"Watts, Armon",Arkansas,DL,77,300.0,5.23,NaN,NaN,0.0
51,"Wilkins, Christian",Clemson,DL,75,315.0,5.04,107.0,4.55,1.0
52,"Williams, Quinnen",Alabama,DL,75,303.0,4.83,112.0,NaN,1.0
53,"Wise, Daniel",Kansas,DL,75,281.0,5.28,112.0,4.37,0.0
54,"Wren, Renell",Arizona St.,DL,77,318.0,5.01,118.0,4.53,0.0

In [86]:
#Testing Data
Name = testdata["name"]
Position = testdata["position"]
#df = df.drop(["year","name","college","position"],1)
testdata = testdata.drop(["name","college","position"],1)
testdata.head()

   height_in  weight_lbs  40yards  broad_jump_in  shuttle  allamerican
0         77       262.0     4.63          112.0     4.36          1.0
1         75       250.0     4.62          134.0     4.27          0.0
2         76       266.0     4.79          116.0     4.14          0.0
3         75       252.0     4.65          126.0      NaN          0.0
4         77       249.0     4.53          129.0      NaN          0.0

In [87]:
# make predictions for test data
y_pred = model.predict(testdata)
predictions = [round(value) for value in y_pred]

In [88]:
Names = []
for name in Name:
    name = name.split(",")
    Names.append(f"{name[1]} {name[0]}")

In [89]:
predictors = pd.DataFrame({"Name":Names,"Position":Position,"finalmodel":predictions})
predictors

                   Name Position  finalmodel
0            Josh Allen       DL           1
1            Ben Banogu       DL           1
2             Nick Bosa       DL           1
3      Jordan Brailford       DL           1
4           Brian Burns       DL           1
5          Malik Carney       DL           1
6           Maxx Crosby       DL           1
7           Jamal Davis       DL           1
8        Clelin Ferrell       DL           1
9       Carl Granderson       DL           1
10          Gerri Green       DL           1
11        Porter Gustin       DL           1
12       Justin Hollins       DL           1
13          Jalen Jelks       DL           1
14       Darryl Johnson       DL           0
15       Shareef Miller       DL           1
16     Christian Miller       DL           1
17        Jachai Polite       DL           1
18            Wyatt Ray       DL           1
19         Sutton Smith       DL           1
20         Montez Sweat       DL           1
21       Chase Winovich       DL           1
22       Oshane Ximines       DL           1
23        Terry Beckner       DL           0
24           Zach Allen       DL           1
25         Isaiah Buggs       DL           1
26   Demarcus Christmas       DL           1
27         L.J. Collier       DL           1
28        John Cominsky       DL           1
29         Byron Cowart       DL           1
30          Greg Gaines       DL           1
31          Rashan Gary       DL           1
32         Kevin Givens       DL           1
33         Trysten Hill       DL           1
34       Albert Huggins       DL           1
35          Joe Jackson       DL           0
36       CeCe Jefferson       DL           0
37      Anthony Johnson       DL           1
38       Dre'Mont Jones       DL           1
39        Kingsley Keke       DL           1
40      Dexter Lawrence       DL           1
41   Jonathan Ledbetter       DL           1
42          Daylon Mack       DL           1
43       Anthony Nelson       DL           1
44            Ed Oliver       DL           1
45      Charles Omenihu       DL           1
46    Dontavius Russell       DL           1
47      Khalen Saunders       DL           1
48        Chris Slayton       DL           1
49        Jerry Tillery       DL           1
50          Armon Watts       DL           0
51    Christian Wilkins       DL           1
52     Quinnen Williams       DL           1
53          Daniel Wise       DL           1
54          Renell Wren       DL           1

In [91]:
#3 Offensive Line
df = pd.read_csv("../OL/OL-Train.csv")
#df = df.drop(["year","name","college","position"],1)
df.head()
# 721

Y = df["drafted"]
Y = Y.replace("Y",1)
Y = Y.replace("N",0)

#X = df.drop(['weight_lbs', '3cone', 'Crec', 'Cyds', 'hasbling', 'hasawards', "drafted"], 1)
X = df.drop(["drafted"],1)

X["benchpress"] = X["benchpress"].fillna(value=0)
X["shuttle"] = X["shuttle"].fillna(value=100)
X["3cone"] = X["3cone"].fillna(value=100)
X["40yards"] = X["40yards"].fillna(value=100)

X = X.drop([item for item in X.columns.tolist() if item not in ['40yards', 'weight_lbs', 'benchpress', '3cone', 'shuttle',"wonaward"]], 1)

# split data into train and test sets
seed = 777
test_size = 0.30
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

# fit model on training data
model = XGBClassifier(learning_rate=.1,n_estimators=100,max_depth=3,min_child_weight=3,gamma=0.1,colsample_bytree=.7)
model.fit(X_train, y_train)

# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 71.34%

In [96]:
#1 Offensive line
testdata = pd.read_csv("OL-Test.csv")
testdata

,name,college,position,weight_lbs,40yards,benchpress,shuttle,3cone,wonaward
0,"Adams, Paul",Missouri,OL,317.0,5.18,16.0,4.74,7.68,NaN
1,"Bailey, Zack",South Carolina,OL,299.0,NaN,24.0,NaN,NaN,NaN
2,"Barton, Jackson",Utah,OL,310.0,5.18,30.0,4.03,6.90,NaN
3,"Bates, Ryan",Penn St.,OL,306.0,5.09,28.0,4.53,7.45,NaN
4,"Benzschawel, Beau",Wisconsin,OL,309.0,5.24,20.0,NaN,NaN,NaN
5,"Bradbury, Garrett",NC State,OL,306.0,4.92,34.0,4.53,7.41,NaN
6,"Cajuste, Yodny",West Virginia,OL,312.0,NaN,32.0,NaN,NaN,NaN
7,"Daley, Dennis",South Carolina,OL,317.0,5.23,20.0,4.92,7.95,NaN
8,"Davis, Nate",Charlotte,OL,316.0,5.23,23.0,4.83,7.94,NaN
9,"Deiter, Michael",Wisconsin,OL,309.0,5.23,21.0,4.81,7.88,NaN
10,"Dillard, Andre",Washington St.,OL,315.0,4.96,24.0,4.40,7.44,NaN
11,"Edoga, Chuma",USC,OL,308.0,5.19,21.0,NaN,NaN,NaN
12,"Edwards, David",Wisconsin,OL,308.0,5.28,NaN,4.77,7.69,NaN
13,"Evans, Bobby",Oklahoma,OL,312.0,5.20,22.0,NaN,NaN,NaN
14,"Ford, Cody",Oklahoma,OL,329.0,5.21,19.0,4.87,8.27,NaN
15,"Froholdt, Hjalte",Arkansas,OL,306.0,5.20,31.0,4.54,7.51,NaN
16,"Gray, Derwin",Maryland,OL,320.0,5.26,26.0,NaN,NaN,NaN
17,"Haynes, Phil",Wake Forest,OL,322.0,5.20,33.0,4.95,7.76,NaN
18,"Herbig, Nate",Stanford,OL,335.0,5.41,29.0,5.04,8.15,NaN
19,"Howard, Tytus",Alabama State,OL,322.0,5.05,21.0,4.87,8.34,NaN
20,"Hyatt, Mitch",Clemson,OL,303.0,NaN,28.0,4.52,7.72,NaN
21,"James, Andre",UCLA,OL,299.0,5.32,21.0,4.84,8.00,NaN
22,"Jenkins, Elgton",Miss. State,OL,310.0,NaN,29.0,4.62,7.77,NaN
23,"Johnson, Devon",Ferris State,OL,338.0,5.16,26.0,5.28,8.34,NaN
24,"Jones, Tyler",NC State,OL,306.0,NaN,23.0,4.82,7.75,NaN
25,"Jordan, Michael",Ohio St.,OL,312.0,5.27,19.0,4.71,7.71,NaN
26,"Lindstrom, Chris",Boston College,OL,308.0,4.91,25.0,4.54,7.61,NaN
27,"Little, Greg",Ole Miss,OL,310.0,5.33,NaN,4.74,NaN,NaN
28,"McCoy, Erik",Texas A&M,OL,303.0,4.89,29.0,4.62,8.28,NaN
29,"McGary, Kaleb",Washington,OL,317.0,5.05,23.0,4.58,7.66,NaN
30,"McGovern, Connor",Penn St.,OL,308.0,NaN,28.0,4.57,7.66,NaN
31,"Miles, Joshua",Morgan State,OL,314.0,5.32,NaN,4.75,8.07,NaN
32,"Nijman, Yosh",NaN,OL,NaN,NaN,27.0,4.50,8.07,NaN
33,"Opeta, Iosua",Weber State,OL,301.0,5.02,39.0,4.94,8.06,NaN
34,"Patterson, Javon",Ole Miss,OL,307.0,5.13,27.0,4.78,7.72,NaN
35,"Pierschbacher, Ross",Alabama,OL,307.0,5.20,20.0,4.70,7.83,NaN
36,"Pipkins, Trey",Sioux Falls,OL,309.0,5.12,16.0,4.70,7.61,NaN
37,"Pope, Ryan",San Diego St.,OL,320.0,NaN,25.0,NaN,NaN,NaN
38,"Powers, Ben",Oklahoma,OL,307.0,NaN,21.0,NaN,NaN,NaN
39,"Prince, Isaiah",Ohio St.,OL,305.0,5.09,23.0,5.02,7.90,NaN
40,"Risner, Dalton",Kansas St.,OL,312.0,5.30,23.0,4.52,7.69,NaN
41,"Roemer, Tyler",San Diego St.,OL,312.0,5.21,18.0,4.76,7.75,NaN
42,"Samia, Dru",Oklahoma,OL,305.0,5.29,28.0,4.70,7.89,NaN
43,"Scharping, Max",N. Illinois,OL,327.0,NaN,27.0,4.69,7.77,NaN
44,"Sweet, William",North Carolina,OL,313.0,5.27,23.0,5.00,8.01,NaN
45,"Tate, Trevon",Memphis,OL,293.0,NaN,22.0,NaN,NaN,NaN
46,"Taylor, Jawaan",Florida,OL,312.0,NaN,24.0,NaN,NaN,NaN
47,"Udoh, Oli",NaN,OL,NaN,5.05,26.0,5.05,7.88,NaN
48,"Williams, Jonah",Alabama,OL,302.0,5.12,23.0,4.79,8.01,NaN
49,"Calhoun, Shaq",NaN,OL,NaN,5.07,26.0,4.62,7.46,NaN

In [94]:
from splinter import Browser
from sys import platform
import os
import csv
import re

executable_path = None

if platform == "linux" or platform == "linux2":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-linux")}
elif platform == "darwin":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-mac")}
elif platform == "win32":
    executable_path = {'executable_path': os.path.join("..","..","binaries", "chromedriver-windows.exe")}

browser = Browser('chrome', **executable_path, headless=False)

In [97]:
for index, row in testdata.iterrows():
    if (testdata.loc[index,"wonaward"] != 1.0):
        if (testdata.loc[index,"wonaward"] != 0.0):
            x = row["name"]
            browser.visit(f"https://www.sports-reference.com/cfb/search/search.fcgi?hint=&search={x}")
            if (len(browser.find_by_css("h1[itemprop='name']")) > 0):
                if (len(browser.find_by_css("div#leaderboard_awards")) > 0):
                    testdata.loc[index,"wonaward"] = 1
                else:
                    testdata.loc[index,"wonaward"] = 0
            elif (len(browser.find_by_css("div.search-item")) == 0):
                testdata.loc[index,"wonaward"] = 0
            else:
                listed = browser.find_by_css("div.search-item")            
                for x in listed:
                    if (re.sub(r'\(.*\)', "", row["college"]).strip() in x.find_by_css("div.search-item-league").text):
                        x.find_by_css("div.search-item-name a").click()
                        if (len(browser.find_by_css("h1[itemprop='name']")) > 0):
                            if (len(browser.find_by_css("div#leaderboard_awards")) > 0):
                                testdata.loc[index,"wonaward"] = 1
                            else:
                                testdata.loc[index,"wonaward"] = 0
                            break
                        else:
                            testdata.loc[index,"wonaward"] = 0
                            break
                    else:
                        testdata.loc[index,"wonaward"] = 0

In [100]:
testdata.to_csv("OL-Test.csv", index=False)

In [105]:
testdata = pd.read_csv("OL-Test.csv")
Name = testdata["Name"]
Position = testdata["Position"]
#df = df.drop(["year","name","college","position"],1)
testdata = testdata.drop(["Name","College","Position"],1)
testdata.head()

   weight_lbs  40yards  benchpress  shuttle  3cone  wonaward
0       317.0     5.18        16.0     4.74   7.68         0
1       299.0      NaN        24.0      NaN    NaN         0
2       310.0     5.18        30.0     4.03   6.90         0
3       306.0     5.09        28.0     4.53   7.45         0
4       309.0     5.24        20.0      NaN    NaN         1

In [106]:
# make predictions for test data
y_pred = model.predict(testdata)
predictions = [round(value) for value in y_pred]

Names = []
for name in Name:
    name = name.split(",")
    Names.append(f"{name[1]} {name[0]}")
    
predictors = pd.DataFrame({"Name":Names,"Position":Position,"finalmodel":predictions})
predictors

                   Name Position  finalmodel
0            Paul Adams       OL           1
1           Zack Bailey       OL           1
2        Jackson Barton       OL           1
3            Ryan Bates       OL           1
4      Beau Benzschawel       OL           1
5      Garrett Bradbury       OL           1
6         Yodny Cajuste       OL           1
7          Dennis Daley       OL           1
8            Nate Davis       OL           1
9        Michael Deiter       OL           1
10        Andre Dillard       OL           1
11          Chuma Edoga       OL           1
12        David Edwards       OL           1
13          Bobby Evans       OL           1
14            Cody Ford       OL           1
15      Hjalte Froholdt       OL           1
16          Derwin Gray       OL           1
17          Phil Haynes       OL           1
18          Nate Herbig       OL           0
19         Tytus Howard       OL           1
20          Mitch Hyatt       OL           1
21          Andre James       OL           1
22       Elgton Jenkins       OL           1
23        Devon Johnson       OL           1
24          Tyler Jones       OL           1
25       Michael Jordan       OL           1
26      Chris Lindstrom       OL           1
27          Greg Little       OL           1
28           Erik McCoy       OL           1
29         Kaleb McGary       OL           1
30      Connor McGovern       OL           1
31         Joshua Miles       OL           0
32          Yosh Nijman       OL           0
33          Iosua Opeta       OL           1
34      Javon Patterson       OL           1
35   Ross Pierschbacher       OL           1
36         Trey Pipkins       OL           1
37            Ryan Pope       OL           1
38           Ben Powers       OL           1
39        Isaiah Prince       OL           1
40        Dalton Risner       OL           1
41         Tyler Roemer       OL           1
42            Dru Samia       OL           1
43        Max Scharping       OL           1
44        William Sweet       OL           1
45          Trevon Tate       OL           0
46        Jawaan Taylor       OL           1
47             Oli Udoh       OL           0
48       Jonah Williams       OL           1
49         Shaq Calhoun       OL           0

In [107]:
#4 Quarterbacks
df = pd.read_csv("../QB/QB-Train.csv")
#df = df.drop(["year","name","college","position"],1)
df.head()
# 721

Y = df["drafted"]
Y = Y.replace("Y",1)
Y = Y.replace("N",0)

#X = df.drop(['weight_lbs', '3cone', 'Crec', 'Cyds', 'hasbling', 'hasawards', "drafted"], 1)
X = df.drop(["drafted"],1)

X = X.drop([item for item in X.columns.tolist() if item not in ['40yards', 'height_in', 'vert_leap_in', 'broad_jump_in', 'shuttle',"cmp","att","yds","int","heisman","allamerican"]], 1)

# split data into train and test sets
seed = 777
test_size = 0.30
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

# fit model on training data
model = XGBClassifier(learning_rate=.1,n_estimators=100,max_depth=3,min_child_weight=1,gamma=0,colsample_bytree=1)
model.fit(X_train, y_train)

# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 81.42%

In [112]:
testdata = pd.read_csv("QB-Test.csv")
testdata

,name,college,position,height_in,40yards,vert_leap_in,broad_jump_in,shuttle,cmp,att,yds,int,heisman,allamerican
0,"Browning, Jake",Washington,QB,74,4.74,29.0,112.0,4.44,NaN,NaN,NaN,NaN,NaN,NaN
1,"Finley, Ryan",NC State,QB,76,4.73,30.5,116.0,4.20,NaN,NaN,NaN,NaN,NaN,NaN
2,"Fitzgerald, Nick",Miss. State,QB,77,4.64,29.5,115.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Grier, Will",West Virginia,QB,74,4.84,34.0,112.0,4.28,NaN,NaN,NaN,NaN,NaN,NaN
4,"Haskins, Dwayne",Ohio St.,QB,75,5.04,28.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Jackson, Tyree",Buffalo,QB,79,4.59,34.5,120.0,4.28,NaN,NaN,NaN,NaN,NaN,NaN
6,"Jones, Daniel",Duke,QB,77,4.81,33.5,120.0,4.41,NaN,NaN,NaN,NaN,NaN,NaN
7,"Lock, Drew",Missouri,QB,76,4.69,31.0,112.0,4.12,NaN,NaN,NaN,NaN,NaN,NaN
8,"McSorley, Trace",Penn St.,QB,72,4.57,33.0,115.0,4.12,NaN,NaN,NaN,NaN,NaN,NaN
9,"Minshew, Gardner",Washington St.,QB,73,4.97,33.5,116.0,4.45,NaN,NaN,NaN,NaN,NaN,NaN
10,"Rypien, Brett",Boise St.,QB,74,4.91,33.0,116.0,4.29,NaN,NaN,NaN,NaN,NaN,NaN
11,"Shurmur, Kyle",Vanderbilt,QB,76,4.91,29.5,106.0,4.53,NaN,NaN,NaN,NaN,NaN,NaN
12,"Stick, Easton",North Dakota State,QB,73,4.62,33.5,118.0,4.05,NaN,NaN,NaN,NaN,NaN,NaN
13,"Stidham, Jarrett",Auburn,QB,74,4.81,31.0,110.0,4.33,NaN,NaN,NaN,NaN,NaN,NaN
14,"Ta'amu, Jordan",Ole Miss,QB,75,4.77,27.5,109.0,4.36,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
from splinter import Browser
from sys import platform
import os
import csv
import re

executable_path = None

if platform == "linux" or platform == "linux2":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-linux")}
elif platform == "darwin":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-mac")}
elif platform == "win32":
    executable_path = {'executable_path': os.path.join("..","..","binaries", "chromedriver-windows.exe")}

browser = Browser('chrome', **executable_path, headless=False)

In [115]:
for index, row in testdata.iterrows():
    if (testdata.loc[index,"allamerican"] != 1.0):
        if (testdata.loc[index,"allamerican"] != 0.0):
            x = row["name"]
            browser.visit(f"https://www.sports-reference.com/cfb/search/search.fcgi?hint=&search={x}")
            if (len(browser.find_by_css("table#passing")) > 0):
                if (len(browser.find_by_css("li.bling_all_star")) > 0):
                    testdata.loc[index,"allamerican"] = 1
                else:
                    testdata.loc[index,"allamerican"] = 0
                if (len(browser.find_by_css("li.bling_hof")) > 0):
                    testdata.loc[index,"heisman"] = 1
                else:
                    testdata.loc[index,"heisman"] = 0

                testdata.loc[index, "cmp"] = browser.find_by_css("table#passing tfoot tr.bold")[0].find_by_css("td[data-stat='pass_cmp']").text
                testdata.loc[index, "att"] = browser.find_by_css("table#passing tfoot tr.bold")[0].find_by_css("td[data-stat='pass_att']").text
                testdata.loc[index, "yds"] = browser.find_by_css("table#passing tfoot tr.bold")[0].find_by_css("td[data-stat='pass_yds']").text
                testdata.loc[index, "int"] = browser.find_by_css("table#passing tfoot tr.bold")[0].find_by_css("td[data-stat='pass_int']").text
            elif (len(browser.find_by_css("div.search-item")) == 0):
                testdata.loc[index,"allamerican"] = 0
                testdata.loc[index,"heisman"] = 0
            else:
                listed = browser.find_by_css("div.search-item")            
                for x in listed:
                    if (re.sub(r'\(.*\)', "", row["college"]).strip() in x.find_by_css("div.search-item-league").text):
                        x.find_by_css("div.search-item-name a").click()
                        if (len(browser.find_by_css("table#passing")) > 0):
                            if (len(browser.find_by_css("li.bling_all_star")) > 0):
                                testdata.loc[index,"allamerican"] = 1
                            else:
                                testdata.loc[index,"allamerican"] = 0
                            if (len(browser.find_by_css("li.bling_hof")) > 0):
                                testdata.loc[index,"heisman"] = 1
                            else:
                                testdata.loc[index,"heisman"] = 0

                                testdata.loc[index, "cmp"] = browser.find_by_css("table#passing tfoot tr.bold")[0].find_by_css("td[data-stat='pass_cmp']").text
                                testdata.loc[index, "att"] = browser.find_by_css("table#passing tfoot tr.bold")[0].find_by_css("td[data-stat='pass_att']").text
                                testdata.loc[index, "yds"] = browser.find_by_css("table#passing tfoot tr.bold")[0].find_by_css("td[data-stat='pass_yds']").text
                                testdata.loc[index, "int"] = browser.find_by_css("table#passing tfoot tr.bold")[0].find_by_css("td[data-stat='pass_int']").text
                            break
                        else:
                            testdata.loc[index,"allamerican"] = 0
                            testdata.loc[index,"heisman"] = 0
                            break
                    else:
                        testdata.loc[index,"allamerican"] = 0
                        testdata.loc[index,"heisman"] = 0

In [ ]:
testdata.to_csv("QB-Test.csv", index=False)

In [119]:
testdata = pd.read_csv("QB-Test.csv")
Name = testdata["name"]
Position = testdata["position"]
#df = df.drop(["year","name","college","position"],1)
testdata = testdata.drop(["name","college","position"],1)
testdata.head()

,height_in,40yards,vert_leap_in,broad_jump_in,shuttle,cmp,att,yds,int,heisman,allamerican
0,74,4.74,29.0,112.0,4.44,958.0,1484.0,12296.0,34.0,0,0
1,76,4.73,30.5,116.0,4.20,938.0,1461.0,11147.0,30.0,0,0
2,77,4.64,29.5,115.0,NaN,511.0,942.0,6207.0,30.0,0,0
3,74,4.84,34.0,112.0,4.28,621.0,945.0,8556.0,23.0,0,0
4,75,5.04,28.5,NaN,NaN,413.0,590.0,5396.0,9.0,0,0

In [120]:
# make predictions for test data
y_pred = model.predict(testdata)
predictions = [round(value) for value in y_pred]

Names = []
for name in Name:
    name = name.split(",")
    Names.append(f"{name[1]} {name[0]}")
    
predictors = pd.DataFrame({"Name":Names,"Position":Position,"finalmodel":predictions})
predictors

                Name Position  finalmodel
0      Jake Browning       QB           1
1        Ryan Finley       QB           1
2    Nick Fitzgerald       QB           1
3         Will Grier       QB           1
4     Dwayne Haskins       QB           0
5      Tyree Jackson       QB           1
6       Daniel Jones       QB           1
7          Drew Lock       QB           1
8     Trace McSorley       QB           1
9    Gardner Minshew       QB           0
10      Brett Rypien       QB           1
11      Kyle Shurmur       QB           1
12      Easton Stick       QB           0
13   Jarrett Stidham       QB           1
14     Jordan Ta'amu       QB           1

In [122]:
#4 Safety
df = pd.read_csv("../S/S-Train.csv")
#df = df.drop(["year","name","college","position"],1)
df.head()
# 721

Y = df["drafted"]
Y = Y.replace("Y",1)
Y = Y.replace("N",0)

#X = df.drop(['weight_lbs', '3cone', 'Crec', 'Cyds', 'hasbling', 'hasawards', "drafted"], 1)
X = df.drop(["drafted"],1)

X = X.drop([item for item in X.columns.tolist() if item not in ['40yards', "weight_lbs"]], 1)

# split data into train and test sets
seed = 777
test_size = 0.30
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

# fit model on training data
model = XGBClassifier(learning_rate=.1,n_estimators=100,max_depth=3,min_child_weight=7,gamma=0.4,colsample_bytree=1)
model.fit(X_train, y_train)

# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 74.19%

In [124]:
#1 Offensive line
testdata = pd.read_csv("S-Test.csv")
testdata

                         name         college position  weight_lbs  40yards
0            Abram, Johnathan     Miss. State        S         215     4.45
1                  Amadi, Ugo             NaN        S         201     4.51
2                Battle, John             LSU        S         201     4.67
3                  Bell, Mike      Fresno St.        S         210     4.83
4             Blair, Marquise            Utah        S         195     4.48
5          Crawford, Jonathan         Indiana        S         205      NaN
6                Denis, Lukas  Boston College        S         190     4.64
7               Dixon, D'Cota       Wisconsin        S         204     4.81
8                 Gant, Malik        Marshall        S         209     4.63
9   Gardner-Johnson, Chauncey         Florida        S         210     4.48
10            Hampton, Saquan         Rutgers        S         206     4.48
11               Harris, Will  Boston College        S         207     4.41
12              Hooker, Amani            Iowa        S         210     4.48
13            Johnson, Jaquan    Miami (Fla.)        S         191     4.69
14             McLaurin, Mark     Miss. State        S         212     4.77
15               Rapp, Taylor      Washington        S         208      NaN
16         Redwine, Sheldrick    Miami (Fla.)        S         196     4.44
17            Savage, Darnell             NaN        S         198     4.36
18              Tell, Marvell             USC        S         198      NaN
19            Thornhill, Juan        Virginia        S         205     4.42
20               West, Darius        Kentucky        S         208     4.39
21              Willis, Khari    Michigan St.        S         213     4.52
22            Wilson, Donovan       Texas A&M        S         199      NaN
23            Wingard, Andrew         Wyoming        S         209     4.56
24             Woods, Zedrick        Ole Miss        S         205     4.29
25          Worthington, Evan        Colorado        S         212     4.63

In [125]:
Name = testdata["name"]
Position = testdata["position"]
#df = df.drop(["year","name","college","position"],1)
testdata = testdata.drop(["name","college","position"],1)
testdata.head()

   weight_lbs  40yards
0         215     4.45
1         201     4.51
2         201     4.67
3         210     4.83
4         195     4.48

In [126]:
# make predictions for test data
y_pred = model.predict(testdata)
predictions = [round(value) for value in y_pred]

Names = []
for name in Name:
    name = name.split(",")
    Names.append(f"{name[1]} {name[0]}")
    
predictors = pd.DataFrame({"Name":Names,"Position":Position,"finalmodel":predictions})
predictors

                         Name Position  finalmodel
0             Johnathan Abram        S           1
1                   Ugo Amadi        S           1
2                 John Battle        S           0
3                   Mike Bell        S           0
4              Marquise Blair        S           1
5           Jonathan Crawford        S           1
6                 Lukas Denis        S           0
7                D'Cota Dixon        S           0
8                  Malik Gant        S           1
9    Chauncey Gardner-Johnson        S           1
10             Saquan Hampton        S           1
11                Will Harris        S           1
12               Amani Hooker        S           1
13             Jaquan Johnson        S           0
14              Mark McLaurin        S           0
15                Taylor Rapp        S           1
16          Sheldrick Redwine        S           1
17             Darnell Savage        S           1
18               Marvell Tell        S           1
19             Juan Thornhill        S           1
20                Darius West        S           1
21               Khari Willis        S           1
22             Donovan Wilson        S           1
23             Andrew Wingard        S           1
24              Zedrick Woods        S           1
25           Evan Worthington        S           1

In [127]:
#6 Tight Ends
df = pd.read_csv("../TE/TE-Train.csv")
#df = df.drop(["year","name","college","position"],1)
df.head()
# 721

Y = df["drafted"]
Y = Y.replace("Y",1)
Y = Y.replace("N",0)

#X = df.drop(['weight_lbs', '3cone', 'Crec', 'Cyds', 'hasbling', 'hasawards', "drafted"], 1)
X = df.drop(["drafted"],1)

X = X.drop([item for item in X.columns.tolist() if item not in ['40yards', 'weight_lbs', 'benchpress', 'shuttle',"hasbling", "scrimyds","scrimtds","allamerican"]], 1)

# split data into train and test sets
seed = 777
test_size = 0.30
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

# fit model on training data
model = XGBClassifier(learning_rate=.001,n_estimators=300,max_depth=11,min_child_weight=3,gamma=0.4,colsample_bytree=.3)
model.fit(X_train, y_train)

# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 83.64%

In [128]:
testdata = pd.read_csv("TE-Test.csv")
testdata

,name,college,position,weight_lbs,40yards,benchpress,shuttle,allamerican,hasbling,scrimyds,scrimtds
0,"Blanton, Kendall",Missouri,TE,262,4.95,22.0,4.42,NaN,NaN,NaN,NaN
1,"Brown, Keenen",Texas St.,TE,250,4.75,17.0,4.51,NaN,NaN,NaN,NaN
2,"Fant, Noah",Iowa,TE,249,4.50,20.0,4.22,NaN,NaN,NaN,NaN
3,"Gentry, Zach",Michigan,TE,265,4.90,12.0,4.53,NaN,NaN,NaN,NaN
4,"Helm, Daniel",Duke,TE,249,4.89,14.0,NaN,NaN,NaN,NaN,NaN
5,"Hockenson, T.J.",Iowa,TE,251,4.70,17.0,4.18,NaN,NaN,NaN,NaN
6,"Knox, Dawson",Ole Miss,TE,254,NaN,16.0,4.27,NaN,NaN,NaN,NaN
7,"Mack, Alize",Notre Dame,TE,249,4.70,22.0,4.34,NaN,NaN,NaN,NaN
8,"Moreau, Foster",LSU,TE,253,4.66,22.0,4.11,NaN,NaN,NaN,NaN
9,"Nauta, Isaac",Georgia,TE,244,4.91,19.0,4.43,NaN,NaN,NaN,NaN
10,"Oliver, Josh",San Jose St.,TE,249,4.63,22.0,4.47,NaN,NaN,NaN,NaN
11,"Raymond, Dax",Utah St.,TE,255,4.73,15.0,4.39,NaN,NaN,NaN,NaN
12,"Sample, Drew",Washington,TE,255,4.71,NaN,4.31,NaN,NaN,NaN,NaN
13,"Smith, Kaden",Stanford,TE,255,4.92,15.0,4.47,NaN,NaN,NaN,NaN
14,"Smith, Irv",Alabama,TE,242,4.63,19.0,4.33,NaN,NaN,NaN,NaN
15,"Sternberger, Jace",Texas A&M,TE,251,4.75,17.0,4.31,NaN,NaN,NaN,NaN
16,"Sweeney, Tommy",Boston College,TE,251,4.83,17.0,NaN,NaN,NaN,NaN,NaN
17,"Warring, Kahale",San Diego St.,TE,252,4.67,19.0,4.25,NaN,NaN,NaN,NaN
18,"Wesco, Trevon",West Virginia,TE,267,4.89,24.0,4.38,NaN,NaN,NaN,NaN
19,"Wilson, Caleb",UCLA,TE,240,4.56,NaN,4.40,NaN,NaN,NaN,NaN

In [129]:
from splinter import Browser
from sys import platform
import os
import csv
import re

executable_path = None

if platform == "linux" or platform == "linux2":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-linux")}
elif platform == "darwin":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-mac")}
elif platform == "win32":
    executable_path = {'executable_path': os.path.join("..","..","binaries", "chromedriver-windows.exe")}

browser = Browser('chrome', **executable_path, headless=False)

In [130]:
for index, row in testdata.iterrows():
    if (testdata.loc[index,"hasbling"] != 1.0):
        if (testdata.loc[index,"hasbling"] != 0.0):
            x = row["name"]
            browser.visit(f"https://www.sports-reference.com/cfb/search/search.fcgi?hint=&search={x}")
            if(len(browser.find_by_css("h1[itemprop='name']")) == 1):
                try:
                    testdata.loc[index, "scrimyds"] = browser.find_by_css("table#receiving tfoot tr.bold")[0].find_by_css("td[data-stat='scrim_yds']").text
                    testdata.loc[index, "scrimtds"] = browser.find_by_css("table#receiving tfoot tr.bold")[0].find_by_css("td[data-stat='scrim_td']").text
                except:
                    testdata.loc[index, "scrimyds"] = browser.find_by_css("table#rushing tfoot tr.bold")[0].find_by_css("td[data-stat='scrim_yds']").text
                    testdata.loc[index, "scrimtds"] = browser.find_by_css("table#rushing tfoot tr.bold")[0].find_by_css("td[data-stat='scrim_td']").text
                            
                if (len(browser.find_by_css("ul#bling")) > 0):
                    testdata.loc[index,"hasbling"] = 1
                else:
                    testdata.loc[index,"hasbling"] = 0
                if (len(browser.find_by_css("li.bling_all_star")) > 0):
                    testdata.loc[index,"allamerican"] = 1
                else:
                    testdata.loc[index,"allamerican"] = 0
                
            elif (len(browser.find_by_css("div.search-item")) == 0):
                testdata.loc[index,"hasbling"] = 0
                testdata.loc[index,"allamerican"] = 0
            else:
                listed = browser.find_by_css("div.search-item")

                for x in listed:
                    if (re.sub(r'\(.*\)', "", row["college"]).strip() in x.find_by_css("div.search-item-league").text):
                        x.find_by_css("div.search-item-name a").click()
                        if (len(browser.find_by_css("h1[itemprop='name']")) == 1):
                            try:
                                testdata.loc[index, "scrimyds"] = browser.find_by_css("table#receiving tfoot tr.bold")[0].find_by_css("td[data-stat='scrim_yds']").text
                                testdata.loc[index, "scrimtds"] = browser.find_by_css("table#receiving tfoot tr.bold")[0].find_by_css("td[data-stat='scrim_td']").text
                            except:
                                testdata.loc[index, "scrimyds"] = browser.find_by_css("table#rushing tfoot tr.bold")[0].find_by_css("td[data-stat='scrim_yds']").text
                                testdata.loc[index, "scrimtds"] = browser.find_by_css("table#rushing tfoot tr.bold")[0].find_by_css("td[data-stat='scrim_td']").text
                            
                            if (len(browser.find_by_css("ul#bling")) > 0):
                                testdata.loc[index,"hasbling"] = 1
                            else:
                                testdata.loc[index,"hasbling"] = 0
                            if (len(browser.find_by_css("li.bling_all_star")) > 0):
                                testdata.loc[index,"allamerican"] = 1
                            else:
                                testdata.loc[index,"allamerican"] = 0
                            break
                        else:
                            testdata.loc[index,"hasbling"] = 0
                            testdata.loc[index,"allamerican"] = 0
                            break
                    else:
                        testdata.loc[index,"hasbling"] = 0
                        testdata.loc[index,"allamerican"] = 0

In [131]:
testdata.to_csv("TE-Test.csv", index=False)

In [132]:
testdata

,name,college,position,weight_lbs,40yards,benchpress,shuttle,allamerican,hasbling,scrimyds,scrimtds
0,"Blanton, Kendall",Missouri,TE,262,4.95,22.0,4.42,0.0,0.0,476,6
1,"Brown, Keenen",Texas St.,TE,250,4.75,17.0,4.51,0.0,0.0,755,7
2,"Fant, Noah",Iowa,TE,249,4.50,20.0,4.22,0.0,0.0,1083,19
3,"Gentry, Zach",Michigan,TE,265,4.90,12.0,4.53,0.0,0.0,817,4
4,"Helm, Daniel",Duke,TE,249,4.89,14.0,NaN,0.0,0.0,804,6
5,"Hockenson, T.J.",Iowa,TE,251,4.70,17.0,4.18,0.0,0.0,1084,10
6,"Knox, Dawson",Ole Miss,TE,254,NaN,16.0,4.27,0.0,0.0,605,0
7,"Mack, Alize",Notre Dame,TE,249,4.70,22.0,4.34,0.0,0.0,716,4
8,"Moreau, Foster",LSU,TE,253,4.66,22.0,4.11,0.0,0.0,629,6
9,"Nauta, Isaac",Georgia,TE,244,4.91,19.0,4.43,0.0,0.0,936,9
10,"Oliver, Josh",San Jose St.,TE,249,4.63,22.0,4.47,0.0,0.0,1074,7
11,"Raymond, Dax",Utah St.,TE,255,4.73,15.0,4.39,0.0,0.0,873,3
12,"Sample, Drew",Washington,TE,255,4.71,NaN,4.31,0.0,0.0,487,5
13,"Smith, Kaden",Stanford,TE,255,4.92,15.0,4.47,0.0,0.0,1049,7
14,"Smith, Irv",Alabama,TE,242,4.63,19.0,4.33,0.0,0.0,838,10
15,"Sternberger, Jace",Texas A&M,TE,251,4.75,17.0,4.31,1.0,1.0,841,10
16,"Sweeney, Tommy",Boston College,TE,251,4.83,17.0,NaN,0.0,0.0,1281,10
17,"Warring, Kahale",San Diego St.,TE,252,4.67,19.0,4.25,0.0,0.0,637,8
18,"Wesco, Trevon",West Virginia,TE,267,4.89,24.0,4.38,0.0,0.0,376,2
19,"Wilson, Caleb",UCLA,TE,240,4.56,NaN,4.40,0.0,0.0,1679,5

In [136]:
testdata = pd.read_csv("TE-Test.csv")
Name = testdata["name"]
Position = testdata["position"]
#df = df.drop(["year","name","college","position"],1)
testdata = testdata.drop(["name","college","position"],1)
testdata.head()

,weight_lbs,40yards,benchpress,shuttle,allamerican,hasbling,scrimyds,scrimtds
0,262,4.95,22.0,4.42,0.0,0.0,476,6
1,250,4.75,17.0,4.51,0.0,0.0,755,7
2,249,4.50,20.0,4.22,0.0,0.0,1083,19
3,265,4.90,12.0,4.53,0.0,0.0,817,4
4,249,4.89,14.0,NaN,0.0,0.0,804,6

In [137]:
# make predictions for test data
y_pred = model.predict(testdata)
predictions = [round(value) for value in y_pred]

Names = []
for name in Name:
    name = name.split(",")
    Names.append(f"{name[1]} {name[0]}")
    
predictors = pd.DataFrame({"Name":Names,"Position":Position,"finalmodel":predictions})
predictors

                 Name Position  finalmodel
0     Kendall Blanton       TE           1
1        Keenen Brown       TE           1
2           Noah Fant       TE           1
3         Zach Gentry       TE           0
4         Daniel Helm       TE           1
5      T.J. Hockenson       TE           1
6         Dawson Knox       TE           1
7          Alize Mack       TE           1
8       Foster Moreau       TE           1
9         Isaac Nauta       TE           0
10        Josh Oliver       TE           1
11        Dax Raymond       TE           1
12        Drew Sample       TE           1
13        Kaden Smith       TE           0
14          Irv Smith       TE           1
15   Jace Sternberger       TE           1
16      Tommy Sweeney       TE           1
17     Kahale Warring       TE           1
18       Trevon Wesco       TE           1
19       Caleb Wilson       TE           1

In [138]:
#4 Cornerbacks
df = pd.read_csv("../CB/CB-Train.csv")
#df = df.drop(["year","name","college","position"],1)
df.head()
# 721

Y = df["drafted"]
Y = Y.replace("Y",1)
Y = Y.replace("N",0)

#X = df.drop(['weight_lbs', '3cone', 'Crec', 'Cyds', 'hasbling', 'hasawards', "drafted"], 1)
X = df.drop(["drafted"],1)

X = X.drop([item for item in X.columns.tolist() if item not in ['40yards', 'height_in', 'vert_leap_in', '3cone', 'defint',"deftds","hasbling","allamerican","hasawards"]], 1)

# split data into train and test sets
seed = 777
test_size = 0.30
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

# fit model on training data
model = XGBClassifier(learning_rate=.1,n_estimators=200,max_depth=2,min_child_weight=1,gamma=0.1,colsample_bytree=.3)
model.fit(X_train, y_train)

# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 81.28%

In [148]:
testdata = pd.read_csv("CB-Test.csv")
testdata

,name,college,position,height_in,40yards,vert_leap_in,3cone,defint,deftds,hasbling,allamerican,hasawards
0,"Austin, Blessuan",Rutgers,CB,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Baity, Derrick",Kentucky,CB,74,NaN,38.5,7.06,NaN,NaN,NaN,NaN,NaN
2,"Baker, Deandre",Georgia,CB,71,4.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Ballentine, Corey",Washburn,CB,72,4.47,39.5,6.82,NaN,NaN,NaN,NaN,NaN
4,"Boyd, Kris",Texas,CB,71,4.45,36.5,6.94,NaN,NaN,NaN,NaN,NaN
5,"Brown, Jordan",South Dakota State,CB,72,4.51,39.5,NaN,NaN,NaN,NaN,NaN,NaN
6,"Brown, Blace",Troy,CB,72,4.75,NaN,7.33,NaN,NaN,NaN,NaN,NaN
7,"Bunting, Sean",C. Michigan,CB,72,4.42,41.5,NaN,NaN,NaN,NaN,NaN,NaN
8,"Cheevers, Hamp",Boston College,CB,69,4.52,39.0,6.96,NaN,NaN,NaN,NaN,NaN
9,"Crawford, Xavier",C. Michigan,CB,71,4.48,37.5,NaN,NaN,NaN,NaN,NaN,NaN
10,"Davis, Davante",Texas,CB,74,4.57,37.0,6.76,NaN,NaN,NaN,NaN,NaN
11,"Dean, Jamel",Auburn,CB,73,4.30,41.0,7.02,NaN,NaN,NaN,NaN,NaN
12,"Fenton, Rashad",South Carolina,CB,71,4.52,34.0,NaN,NaN,NaN,NaN,NaN,NaN
13,"Fields, Mark",Clemson,CB,70,4.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Hartage, Montre",Northwestern,CB,71,4.68,34.5,6.95,NaN,NaN,NaN,NaN,NaN
15,"Holder, Alijah",Stanford,CB,73,4.60,36.0,6.70,NaN,NaN,NaN,NaN,NaN
16,"Johnson, Lonnie",Kentucky,CB,74,4.52,38.0,7.01,NaN,NaN,NaN,NaN,NaN
17,"Johnson, Isaiah",Houston,CB,74,4.40,36.5,6.81,NaN,NaN,NaN,NaN,NaN
18,"Layne, Justin",Michigan St.,CB,74,4.50,37.5,6.90,NaN,NaN,NaN,NaN,NaN
19,"Long, David",Michigan,CB,71,4.45,39.5,6.45,NaN,NaN,NaN,NaN,NaN
20,"Love, Julian",Notre Dame,CB,71,4.54,36.0,6.72,NaN,NaN,NaN,NaN,NaN
21,"Marshall, Iman",USC,CB,73,4.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"Miller, Jordan",Washington,CB,73,4.49,37.0,NaN,NaN,NaN,NaN,NaN,NaN
23,"Mullen, Trayvon",Clemson,CB,73,4.46,34.5,NaN,NaN,NaN,NaN,NaN,NaN
24,"Murphy, Byron",Washington,CB,71,4.55,36.5,NaN,NaN,NaN,NaN,NaN,NaN
25,"Oruwariye, Amani",Penn St.,CB,74,4.47,36.5,6.82,NaN,NaN,NaN,NaN,NaN
26,"Peters, Jamal",Miss. State,CB,74,4.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"Pulley, Ryan",Arkansas,CB,71,4.61,31.0,NaN,NaN,NaN,NaN,NaN,NaN
28,"Smith, Saivion",Alabama,CB,73,NaN,33.0,7.09,NaN,NaN,NaN,NaN,NaN
29,"Thomas, Derrek",Baylor,CB,75,4.44,39.5,NaN,NaN,NaN,NaN,NaN,NaN
30,"Webster, Ken",Ole Miss,CB,71,4.43,43.0,6.85,NaN,NaN,NaN,NaN,NaN
31,"Williams, Greedy",LSU,CB,74,4.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,"Williams, Joejuan",Vanderbilt,CB,76,4.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"Ya-Sin, Rock",Temple,CB,72,4.51,39.5,7.31,NaN,NaN,NaN,NaN,NaN
34,"Jackson, Mike",NaN,DB,73,4.45,40.5,7.12,NaN,NaN,NaN,NaN,NaN

In [149]:
from splinter import Browser
from sys import platform
import os
import csv
import re

executable_path = None

if platform == "linux" or platform == "linux2":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-linux")}
elif platform == "darwin":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-mac")}
elif platform == "win32":
    executable_path = {'executable_path': os.path.join("..","..","binaries", "chromedriver-windows.exe")}

browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
for index, row in testdata.iterrows():
    if (testdata.loc[index,"hasbling"] != 1.0):
        if (testdata.loc[index,"hasbling"] != 0.0):
            x = row["name"]
            browser.visit(f"https://www.sports-reference.com/cfb/search/search.fcgi?hint=&search={x}")
            if(len(browser.find_by_css("h1[itemprop='name']")) == 1):
                try:
                    testdata.loc[index, "defint"] = browser.find_by_css("table#defense tfoot tr.bold")[0].find_by_css("td[data-stat='def_int']").text
                except:
                    testdata.loc[index, "defint"] = np.nan

                try:
                    testdata.loc[index, "deftds"] = browser.find_by_css("table#defense tfoot tr.bold")[0].find_by_css("td[data-stat='def_int_td']").text
                except:
                    testdata.loc[index, "deftds"] = np.nan
                    
                if (len(browser.find_by_css("ul#bling")) > 0):
                    testdata.loc[index,"hasbling"] = 1
                else:
                    testdata.loc[index,"hasbling"] = 0
                if (len(browser.find_by_css("li.bling_all_star")) > 0):
                    testdata.loc[index,"allamerican"] = 1
                else:
                    testdata.loc[index,"allamerican"] = 0
                if (len(browser.find_by_css("div#leaderboard_awards")) > 0):
                    testdata.loc[index,"hasawards"] = 1
                else:
                    testdata.loc[index,"hasawards"] = 0
            elif (len(browser.find_by_css("div.search-item")) == 0):
                testdata.loc[index,"hasbling"] = 0
                testdata.loc[index,"allamerican"] = 0
                testdata.loc[index,"hasawards"] = 0
            else:
                listed = browser.find_by_css("div.search-item")

                for x in listed:
                    if (re.sub(r'\(.*\)', "", row["college"]).strip() in x.find_by_css("div.search-item-league").text):
                        x.find_by_css("div.search-item-name a").click()
                        if (len(browser.find_by_css("h1[itemprop='name']")) == 1):
                            try:
                                testdata.loc[index, "defint"] = browser.find_by_css("table#defense tfoot tr.bold")[0].find_by_css("td[data-stat='def_int']").text
                            except:
                                testdata.loc[index, "defint"] = np.nan
                                
                            try:
                                testdata.loc[index, "deftds"] = browser.find_by_css("table#defense tfoot tr.bold")[0].find_by_css("td[data-stat='def_int_td']").text
                            except:
                                testdata.loc[index, "deftds"] = np.nan

                            if (len(browser.find_by_css("ul#bling")) > 0):
                                testdata.loc[index,"hasbling"] = 1
                            else:
                                testdata.loc[index,"hasbling"] = 0
                            if (len(browser.find_by_css("li.bling_all_star")) > 0):
                                testdata.loc[index,"allamerican"] = 1
                            else:
                                testdata.loc[index,"allamerican"] = 0
                            if (len(browser.find_by_css("div#leaderboard_awards")) > 0):
                                testdata.loc[index,"hasawards"] = 1
                            else:
                                testdata.loc[index,"hasawards"] = 0
                            break
                        else:
                            testdata.loc[index,"hasbling"] = 0
                            testdata.loc[index,"allamerican"] = 0
                            testdata.loc[index,"hasawards"] = 0
                            break
                    else:
                        testdata.loc[index,"hasbling"] = 0
                        testdata.loc[index,"allamerican"] = 0
                        testdata.loc[index,"hasawards"] = 0

In [151]:
testdata.to_csv("CB-Test.csv", index=False)

In [152]:
testdata = pd.read_csv("CB-Test.csv")
Name = testdata["name"]
Position = testdata["position"]
#df = df.drop(["year","name","college","position"],1)
testdata = testdata.drop(["name","college","position"],1)
testdata.head()

,height_in,40yards,vert_leap_in,3cone,defint,deftds,hasbling,allamerican,hasawards
0,73,NaN,NaN,NaN,4,1,0,0,0
1,74,NaN,38.5,7.06,6,0,0,0,0
2,71,4.52,NaN,NaN,7,0,1,1,1
3,72,4.47,39.5,6.82,0,0,0,0,0
4,71,4.45,36.5,6.94,3,0,0,0,0

In [153]:
# make predictions for test data
y_pred = model.predict(testdata)
predictions = [round(value) for value in y_pred]

Names = []
for name in Name:
    name = name.split(",")
    Names.append(f"{name[1]} {name[0]}")
    
predictors = pd.DataFrame({"Name":Names,"Position":Position,"finalmodel":predictions})
predictors

                 Name Position  finalmodel
0     Blessuan Austin       CB           1
1       Derrick Baity       CB           1
2       Deandre Baker       CB           1
3    Corey Ballentine       CB           1
4           Kris Boyd       CB           1
5        Jordan Brown       CB           1
6         Blace Brown       CB           0
7        Sean Bunting       CB           1
8       Hamp Cheevers       CB           1
9     Xavier Crawford       CB           1
10      Davante Davis       CB           0
11         Jamel Dean       CB           1
12      Rashad Fenton       CB           1
13        Mark Fields       CB           1
14     Montre Hartage       CB           0
15      Alijah Holder       CB           1
16     Lonnie Johnson       CB           1
17     Isaiah Johnson       CB           1
18       Justin Layne       CB           1
19         David Long       CB           1
20        Julian Love       CB           1
21      Iman Marshall       CB           1
22      Jordan Miller       CB           1
23     Trayvon Mullen       CB           1
24       Byron Murphy       CB           1
25    Amani Oruwariye       CB           1
26       Jamal Peters       CB           0
27        Ryan Pulley       CB           1
28      Saivion Smith       CB           1
29      Derrek Thomas       CB           1
30        Ken Webster       CB           1
31    Greedy Williams       CB           1
32   Joejuan Williams       CB           0
33        Rock Ya-Sin       CB           1
34       Mike Jackson       DB           1

In [164]:
#6 Tight Ends
df = pd.read_csv("../RB/RFBacks-Train.csv")
#df = df.drop(["year","name","college","position"],1)
df.head()
# 721

Y = df["drafted"]
Y = Y.replace("Y",1)
Y = Y.replace("N",0)

#X = df.drop(['weight_lbs', '3cone', 'Crec', 'Cyds', 'hasbling', 'hasawards', "drafted"], 1)
X = df.drop(["drafted"],1)

X = X.drop([item for item in X.columns.tolist() if item not in ['40yards', 'weight_lbs', 'benchpress', 'shuttle',"rushatt", "rushyds","rushypa","rushtds","allamerican","heisman"]], 1)

# split data into train and test sets
seed = 777
test_size = 0.30
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

# fit model on training data
model = XGBClassifier(learning_rate=.01,n_estimators=200,max_depth=9,min_child_weight=5,gamma=0.2,colsample_bytree=1)
model.fit(X_train, y_train)

# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 69.63%

In [165]:
testdata = pd.read_csv("RB-Test.csv")
testdata

,name,college,position,weight_lbs,40yards,benchpress,shuttle,rushatt,rushyds,rushypa,rushtds,allamerican,heisman
0,"Anderson, Rodney",Oklahoma,RB,224,NaN,25.0,NaN,200.0,1285.0,6.4,16.0,0.0,0.0
1,"Armstead, Ryquell",Temple,RB,220,4.45,22.0,4.29,573.0,2812.0,4.9,34.0,0.0,0.0
2,"Barnes, Alex",Kansas St.,RB,226,4.59,34.0,4.10,458.0,2616.0,5.7,25.0,0.0,0.0
3,"Brossette, Nick",LSU,RB,209,4.72,15.0,4.44,286.0,1345.0,4.7,14.0,0.0,0.0
4,"Gaskin, Myles",Washington,RB,205,4.58,24.0,4.27,945.0,5323.0,5.6,57.0,0.0,0.0
5,"Harris, Damien",Alabama,RB,216,4.57,16.0,NaN,477.0,3070.0,6.4,23.0,0.0,0.0
6,"Henderson, Darrell",Memphis,RB,208,4.49,22.0,NaN,431.0,3545.0,8.2,36.0,1.0,0.0
7,"Higdon, Karan",Michigan,RB,206,4.49,21.0,NaN,471.0,2616.0,5.6,27.0,0.0,0.0
8,"Hill, Justice",Oklahoma St.,RB,198,4.40,21.0,NaN,632.0,3539.0,5.6,30.0,0.0,0.0
9,"Holyfield, Elijah",Georgia,RB,217,4.78,26.0,NaN,215.0,1340.0,6.2,9.0,0.0,0.0
10,"Homer, Travis",Miami (Fla.),RB,201,4.48,17.0,4.31,334.0,1995.0,6.0,12.0,0.0,0.0
11,"Love, Bryce",Stanford,RB,200,NaN,18.0,NaN,569.0,3865.0,6.8,30.0,1.0,0.0
12,"Mattison, Alexander",Boise St.,RB,221,4.67,22.0,4.29,581.0,2829.0,4.9,33.0,0.0,0.0
13,"Montgomery, David",Iowa St.,RB,222,4.63,15.0,NaN,624.0,2925.0,4.7,26.0,0.0,0.0
14,"Moore, Jalin",App. St.,RB,212,NaN,27.0,NaN,582.0,3570.0,6.1,33.0,0.0,0.0
15,"Ollison, Qadree",Pittsburgh,RB,228,4.58,19.0,4.31,529.0,2859.0,5.4,29.0,0.0,0.0
16,"Pollard, Tony",Memphis,RB,210,4.52,13.0,NaN,139.0,941.0,6.8,9.0,0.0,0.0
17,"Sanders, Miles",Penn St.,RB,211,4.49,20.0,4.19,276.0,1649.0,6.0,12.0,0.0,0.0
18,"Scarlett, Jordan",Florida,RB,208,4.47,21.0,4.63,344.0,1846.0,5.4,12.0,0.0,0.0
19,"Scott, LJ",Michigan St.,RB,227,NaN,21.0,4.34,NaN,NaN,NaN,NaN,0.0,0.0
20,"Singletary, Devin",FAU,RB,203,4.66,15.0,4.40,714.0,4287.0,6.0,66.0,0.0,0.0
21,"Snell, Benny",Kentucky,RB,224,4.66,16.0,4.33,NaN,NaN,NaN,NaN,0.0,0.0
22,"Weber, Mike",Ohio St.,RB,211,4.47,22.0,NaN,455.0,2676.0,5.9,24.0,0.0,0.0
23,"Williams, Dexter",Notre Dame,RB,212,4.57,17.0,4.16,257.0,1636.0,6.4,20.0,0.0,0.0
24,"Williams, Trayveon",Texas A&M,RB,206,4.51,19.0,4.44,600.0,3615.0,6.0,34.0,0.0,0.0
25,"Williams, James",Washington St.,RB,197,4.58,NaN,4.25,NaN,NaN,NaN,NaN,0.0,0.0
26,"Ingold, Alec",Wisconsin,RB,242,4.89,16.0,4.32,103.0,343.0,3.3,17.0,0.0,0.0

In [157]:
from splinter import Browser
from sys import platform
import os
import csv
import re

executable_path = None

if platform == "linux" or platform == "linux2":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-linux")}
elif platform == "darwin":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-mac")}
elif platform == "win32":
    executable_path = {'executable_path': os.path.join("..","..","binaries", "chromedriver-windows.exe")}

browser = Browser('chrome', **executable_path, headless=False)

In [159]:
for index, row in testdata.iterrows():
    if (testdata.loc[index,"allamerican"] != 1.0):
        if (testdata.loc[index,"allamerican"] != 0.0):
            x = row["name"]
            browser.visit(f"https://www.sports-reference.com/cfb/search/search.fcgi?hint=&search={x}")
            if(len(browser.find_by_css("h1[itemprop='name']")) == 1):
                try:
                    testdata.loc[index, "rushatt"] = browser.find_by_css("table#receiving tfoot tr.bold")[0].find_by_css("td[data-stat='rush_att']").text
                    testdata.loc[index, "rushyds"] = browser.find_by_css("table#receiving tfoot tr.bold")[0].find_by_css("td[data-stat='rush_yds']").text
                    testdata.loc[index, "rushypa"] = browser.find_by_css("table#receiving tfoot tr.bold")[0].find_by_css("td[data-stat='rush_yds_per_att']").text
                    testdata.loc[index, "rushtds"] = browser.find_by_css("table#receiving tfoot tr.bold")[0].find_by_css("td[data-stat='rush_td']").text
                except:
                    testdata.loc[index, "rushatt"] = browser.find_by_css("table#rushing tfoot tr.bold")[0].find_by_css("td[data-stat='rush_att']").text
                    testdata.loc[index, "rushyds"] = browser.find_by_css("table#rushing tfoot tr.bold")[0].find_by_css("td[data-stat='rush_yds']").text
                    testdata.loc[index, "rushypa"] = browser.find_by_css("table#rushing tfoot tr.bold")[0].find_by_css("td[data-stat='rush_yds_per_att']").text
                    testdata.loc[index, "rushtds"] = browser.find_by_css("table#rushing tfoot tr.bold")[0].find_by_css("td[data-stat='rush_td']").text
                            
                if (len(browser.find_by_css("li.bling_all_star")) > 0):
                    testdata.loc[index,"allamerican"] = 1
                else:
                    testdata.loc[index,"allamerican"] = 0
                if (len(browser.find_by_css("li.bling_hof")) > 0):
                    testdata.loc[index,"heisman"] = 1
                else:
                    testdata.loc[index,"heisman"] = 0
            elif (len(browser.find_by_css("div.search-item")) == 0):
                testdata.loc[index,"allamerican"] = 0
                testdata.loc[index,"heisman"] = 0
            else:
                listed = browser.find_by_css("div.search-item")

                for x in listed:
                    if (re.sub(r'\(.*\)', "", row["college"]).strip() in x.find_by_css("div.search-item-league").text):
                        x.find_by_css("div.search-item-name a").click()
                        if (len(browser.find_by_css("h1[itemprop='name']")) == 1):
                            try:
                                testdata.loc[index, "rushatt"] = browser.find_by_css("table#receiving tfoot tr.bold")[0].find_by_css("td[data-stat='rush_att']").text
                                testdata.loc[index, "rushyds"] = browser.find_by_css("table#receiving tfoot tr.bold")[0].find_by_css("td[data-stat='rush_yds']").text
                                testdata.loc[index, "rushypa"] = browser.find_by_css("table#receiving tfoot tr.bold")[0].find_by_css("td[data-stat='rush_yds_per_att']").text
                                testdata.loc[index, "rushtds"] = browser.find_by_css("table#receiving tfoot tr.bold")[0].find_by_css("td[data-stat='rush_td']").text
                            except:
                                testdata.loc[index, "rushatt"] = browser.find_by_css("table#rushing tfoot tr.bold")[0].find_by_css("td[data-stat='rush_att']").text
                                testdata.loc[index, "rushyds"] = browser.find_by_css("table#rushing tfoot tr.bold")[0].find_by_css("td[data-stat='rush_yds']").text
                                testdata.loc[index, "rushypa"] = browser.find_by_css("table#rushing tfoot tr.bold")[0].find_by_css("td[data-stat='rush_yds_per_att']").text
                                testdata.loc[index, "rushtds"] = browser.find_by_css("table#rushing tfoot tr.bold")[0].find_by_css("td[data-stat='rush_td']").text

                            if (len(browser.find_by_css("li.bling_all_star")) > 0):
                                testdata.loc[index,"allamerican"] = 1
                            else:
                                testdata.loc[index,"allamerican"] = 0
                            if (len(browser.find_by_css("li.bling_hof")) > 0):
                                testdata.loc[index,"heisman"] = 1
                            else:
                                testdata.loc[index,"heisman"] = 0
                            break
                        else:
                            testdata.loc[index,"allamerican"] = 0
                            testdata.loc[index,"heisman"] = 0
                            break
                    else:
                        testdata.loc[index,"allamerican"] = 0
                        testdata.loc[index,"heisman"] = 0

In [160]:
testdata.to_csv("RB-Test.csv", index=False)

In [167]:
testdata = pd.read_csv("RB-Test.csv")
Name = testdata["name"]
Position = testdata["position"]
#df = df.drop(["year","name","college","position"],1)
testdata = testdata.drop(["name","college","position"],1)
testdata.head()

,weight_lbs,40yards,benchpress,shuttle,rushatt,rushyds,rushypa,rushtds,allamerican,heisman
0,224,NaN,25.0,NaN,200.0,1285.0,6.4,16.0,0.0,0.0
1,220,4.45,22.0,4.29,573.0,2812.0,4.9,34.0,0.0,0.0
2,226,4.59,34.0,4.10,458.0,2616.0,5.7,25.0,0.0,0.0
3,209,4.72,15.0,4.44,286.0,1345.0,4.7,14.0,0.0,0.0
4,205,4.58,24.0,4.27,945.0,5323.0,5.6,57.0,0.0,0.0

In [168]:
# make predictions for test data
y_pred = model.predict(testdata)
predictions = [round(value) for value in y_pred]

Names = []
for name in Name:
    name = name.split(",")
    Names.append(f"{name[1]} {name[0]}")
    
predictors = pd.DataFrame({"Name":Names,"Position":Position,"finalmodel":predictions})
predictors

                   Name Position  finalmodel
0       Rodney Anderson       RB           1
1      Ryquell Armstead       RB           1
2           Alex Barnes       RB           1
3        Nick Brossette       RB           0
4          Myles Gaskin       RB           1
5         Damien Harris       RB           1
6     Darrell Henderson       RB           1
7          Karan Higdon       RB           1
8          Justice Hill       RB           1
9      Elijah Holyfield       RB           1
10         Travis Homer       RB           1
11           Bryce Love       RB           1
12   Alexander Mattison       RB           0
13     David Montgomery       RB           1
14          Jalin Moore       RB           1
15       Qadree Ollison       RB           1
16         Tony Pollard       RB           1
17        Miles Sanders       RB           1
18      Jordan Scarlett       RB           1
19             LJ Scott       RB           0
20     Devin Singletary       RB           0
21          Benny Snell       RB           0
22           Mike Weber       RB           1
23      Dexter Williams       RB           1
24    Trayveon Williams       RB           1
25       James Williams       RB           0
26          Alec Ingold       RB           0

In [169]:
#6 Tight Ends
df = pd.read_csv("../P/P-Train.csv")
#df = df.drop(["year","name","college","position"],1)
df.head()
# 721

Y = df["drafted"]
Y = Y.replace("Y",1)
Y = Y.replace("N",0)

#X = df.drop(['weight_lbs', '3cone', 'Crec', 'Cyds', 'hasbling', 'hasawards', "drafted"], 1)
X = df.drop(["drafted"],1)

X = X.drop([item for item in X.columns.tolist() if item not in ['40yards', 'weight_lbs', 'height_in']], 1)

# split data into train and test sets
seed = 777
test_size = 0.30
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

# fit model on training data
model = XGBClassifier()
model.fit(X_train, y_train)

# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 60.00%

In [170]:
testdata = pd.read_csv("P-Test.csv")
testdata

                name   college position  height_in  weight_lbs  40yards
0       Bailey, Jake  Stanford        P         73         200     4.72
1          Fox, Jack      Rice        P         74         213     4.73
2  Wishnowsky, Mitch      Utah        P         74         218     4.63

In [171]:
#Testing Data
Name = testdata["name"]
Position = testdata["position"]
#df = df.drop(["year","name","college","position"],1)
testdata = testdata.drop(["name","college","position"],1)
testdata.head()

   height_in  weight_lbs  40yards
0         73         200     4.72
1         74         213     4.73
2         74         218     4.63

In [172]:
# make predictions for test data
y_pred = model.predict(testdata)
predictions = [round(value) for value in y_pred]

Names = []
for name in Name:
    name = name.split(",")
    Names.append(f"{name[1]} {name[0]}")
    
predictors = pd.DataFrame({"Name":Names,"Position":Position,"finalmodel":predictions})
predictors

                Name Position  finalmodel
0        Jake Bailey        P           0
1           Jack Fox        P           0
2   Mitch Wishnowsky        P           0

In [177]:
#6 Tight Ends
df = pd.read_csv("../LB/Dbacks_Train.csv")
df = df.drop(["year","name","college","position"],1)
df.head()
# 721

,height_in,weight_lbs,40yards,benchpress,vert_leap_in,broad_jump_in,shuttle,3cone,hasawards,allamerican,drafted
0,73.0,227,4.87,NaN,31.0,107.0,4.33,7.60,0,0,N
1,74.6,239,4.92,18.0,33.5,115.0,4.28,7.48,0,0,N
2,72.9,261,4.92,15.0,33.0,109.0,4.42,7.88,0,0,N
3,73.0,230,4.92,NaN,32.5,115.0,4.29,7.67,0,0,N
4,69.6,215,4.52,21.0,38.0,125.0,4.21,7.48,0,0,Y

In [178]:
Y = df["drafted"]
Y = Y.replace("Y",1)
Y = Y.replace("N",0)

#X = df.drop(['weight_lbs', '3cone', 'Crec', 'Cyds', 'hasbling', 'hasawards', "drafted"], 1)
X = df.drop(["drafted"],1)

X = X.drop([item for item in X.columns.tolist() if item in ['weight_lbs', 'benchpress', 'broad_jump_in', 'shuttle', 'allamerican']], 1)

# split data into train and test sets
seed = 777
test_size = 0.30
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

# fit model on training data
model = XGBClassifier(learning_rate=.1,n_estimators=100,max_depth=2,min_child_weight=3,gamma=0,colsample_bytree=0.5)
model.fit(X_train, y_train)

# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 78.88%

In [187]:
testdata = pd.read_csv("LB-Test.csv")
testdata.head()

,name,college,position,height_in,40yards,vert_leap_in,3cone,hasawards
0,"Al-Shaair, Azeez",FAU,LB,73,NaN,NaN,NaN,NaN
1,"Alaka, Otaro",Texas A&M,LB,75,4.82,36.0,NaN,NaN
2,"Allen, Dakota",Texas Tech,LB,73,4.77,NaN,7.15,NaN
3,"Allen-Williams, Bryson",South Carolina,LB,73,4.88,NaN,7.40,NaN
4,"Allison, Jeff",Fresno St.,LB,71,4.82,31.0,7.20,NaN

In [188]:
from splinter import Browser
from sys import platform
import os
import csv
import re

executable_path = None

if platform == "linux" or platform == "linux2":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-linux")}
elif platform == "darwin":
    executable_path = {'executable_path': os.path.join("binaries", "chromedriver-mac")}
elif platform == "win32":
    executable_path = {'executable_path': os.path.join("..","..","binaries", "chromedriver-windows.exe")}

browser = Browser('chrome', **executable_path, headless=False)

In [193]:
for index, row in testdata.iterrows():
    if (testdata.loc[index,"hasawards"] != 1.0):
        if (testdata.loc[index,"hasawards"] != 0.0):
            x = row["name"]
            browser.visit(f"https://www.sports-reference.com/cfb/search/search.fcgi?hint=&search={x}")
            if(len(browser.find_by_css("h1[itemprop='name']")) == 1):
                if (len(browser.find_by_css("div#leaderboard_awards")) > 0):
                    testdata.loc[index,"hasawards"] = 1
                else:
                    testdata.loc[index,"hasawards"] = 0
            elif (len(browser.find_by_css("div.search-item")) == 0):
                testdata.loc[index,"hasawards"] = 0
            else:
                listed = browser.find_by_css("div.search-item")

                for x in listed:
                    if (re.sub(r'\(.*\)', "", row["college"]).strip() in x.find_by_css("div.search-item-league").text):
                        x.find_by_css("div.search-item-name a").click()
                        if (len(browser.find_by_css("h1[itemprop='name']")) == 1):
                            if (len(browser.find_by_css("div#leaderboard_awards")) > 0):
                                testdata.loc[index,"hasawards"] = 1
                            else:
                                testdata.loc[index,"hasawards"] = 0
                        else:
                            testdata.loc[index,"hasawards"] = 0
                            break
                    else:
                        testdata.loc[index,"hasawards"] = 0

In [194]:
testdata.to_csv("LB-Test.csv", index=False)

In [195]:
#Testing Data
Name = testdata["name"]
Position = testdata["position"]
#df = df.drop(["year","name","college","position"],1)
testdata = testdata.drop(["name","college","position"],1)
testdata.head()

   height_in  40yards  vert_leap_in  3cone  hasawards
0         73      NaN           NaN    NaN        0.0
1         75     4.82          36.0    NaN        0.0
2         73     4.77           NaN   7.15        0.0
3         73     4.88           NaN   7.40        0.0
4         71     4.82          31.0   7.20        1.0

In [196]:
# make predictions for test data
y_pred = model.predict(testdata)
predictions = [round(value) for value in y_pred]

Names = []
for name in Name:
    name = name.split(",")
    Names.append(f"{name[1]} {name[0]}")
    
predictors = pd.DataFrame({"Name":Names,"Position":Position,"finalmodel":predictions})
predictors

                      Name Position  finalmodel
0          Azeez Al-Shaair       LB           1
1              Otaro Alaka       LB           1
2             Dakota Allen       LB           0
3    Bryson Allen-Williams       LB           0
4             Jeff Allison       LB           1
5              Cody Barton       LB           1
6          Ben Burr-Kirven       LB           1
7               Devin Bush       LB           1
8            Blake Cashman       LB           1
9            Ryan Connelly       LB           1
10           Deshaun Davis       LB           1
11            Tyrel Dodson       LB           1
12            T.J. Edwards       LB           1
13            Emeke Egbule       LB           1
14        Joe Giles-Harris       LB           0
15            Dre Greenlaw       LB           1
16              Terez Hall       LB           1
17           Terrill Hanks       LB           0
18            Gary Johnson       LB           1
19            Jordan Jones       LB           1
20          Kendall Joseph       LB           1
21              David Long       LB           1
22           Bobby Okereke       LB           1
23          Germaine Pratt       LB           1
24           Cameron Smith       LB           1
25              Ty Summers       LB           1
26          Sione Takitaki       LB           1
27          Drue Tranquill       LB           1
28       Andrew Van Ginkel       LB           1
29             Devin White       LB           1
30             Mack Wilson       LB           1